<div class="layout-4">
  <div data-sly-resource="${ @path='col-1-par', resourceType='foundation/components/parsys'}" data-sly-unwrap=""> </div><!--/* /data-sly-unwrap */-->
</div>
<div class="layout-4">
  <div data-sly-resource="${ @path='col-2-par', resourceType='foundation/components/parsys'}" data-sly-unwrap=""> </div><!--/* /data-sly-unwrap */-->
</div>
<div class="layout-4">
  <div class="layout-6">
    <div data-sly-resource="${ @path='col-3-par', resourceType='foundation/components/parsys'}" data-sly-unwrap=""> </div><!--/* /data-sly-unwrap */-->
  </div>
  <div class="layout-6">
    <div data-sly-resource="${ @path='col-4-par', resourceType='foundation/components/parsys'}" data-sly-unwrap=""> </div><!--/* /data-sly-unwrap */-->
  </div>
</div>