.accordion-section.ui-accordion {
	background-color: white;
	:focus{outline: none;}
	&.-size14{
		h5{
			font-size: 14px;
			line-height: 18px;
			font-weight: normal;
			}
	}
	&.-size16{
		h5{
			font-size: 16px;
			line-height: 20px;
			font-weight: normal;
			}
	}
	&.-size24{
		h5{
			font-size: 24px;
			line-height: 28px;
			font-weight: normal;
			}
	}
	.accordion-divider{
		border-bottom: 1px solid #dddddd;
	}
	.ui-accordion-header {
		display: block;
		cursor: pointer;
		position: relative;
		margin: 2px 0 0 0;
		padding: .5em .5em .5em 0;
		min-height: 0; /* support: IE7 */
		border-bottom: 1px solid #dddddd;
		.ico-plus{
			color: $color-link;
			padding-right: 5px;
		}
		&.ui-accordion-header-active{
			border-bottom: none;
			color: $color-link;
			.ico-plus:before{
				content: "\e60b";
			}
		}
		// .ui-accordion-header-icon {
		// 	position: absolute;
		// 	left: .5em;
		// 	top: 50%;
		// 	margin-top: -8px;
		// 	&.ui-icon.iconClosed{
		// 		background:url('/images/plus.png') no-repeat -5px;
    	// 		background-size:30px;
    	// 		width:20px;
    	// 		height:20px;
		// 	}
		// 	&.ui-icon.iconOpen{
		// 		background:url('http://i.stack.imgur.com/vNQ2g.png?s=64&g=1') no-repeat;
    	// 		background-size:20px;
   		// 		width:20px;
    	// 		height:20px;
		// 	}
		// 	
		// }
	}
	// .ui-accordion-icons {
	// 	padding-left: 2.2em;
	// 	.ui-accordion-icons {
	// 		padding-left: 2.2em;
	// 	}	
	// }
	.ui-accordion-content {
		border-top: 0;
		overflow: auto;
	}
}

