// Hero Elements
.hero{
	// Hero Banner Left/Right align
	&.align-right{text-align: right;}
	&.align-left{text-align: left;}
	&.align-center{text-align: center;}
	background-image: url(/images/lead-gen2.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	.btn{font-weight: bold; font-size:18px;}
	/* should use button class */
	padding-bottom: 20px;
	min-height: 320px;
	margin-bottom: 20px;
	color:white;
	.brand-img-lockup{
		background-color: white; 
		display: inline-block;
		.hero-brand-logo{margin:4px;}
		}
	.copy{padding: 40px 0 0 4.27%;}

	
}

//Hero 1400px
.cdwextendedhero{
	padding-bottom: 20px;
	.layout-extended{
		h1{color: $color-red;}
		.hero-full{
			background-image: url(images/hero2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			min-height: 260px;
		img {
			@include span-columns(2);
			@include shift(1);
			margin-top: 200px;
			margin-right: 2.35765% !important;
			}
	}
  }	
}



