.notification-bar { 
    margin: 15px 0 25px;
    padding: 10px 70px 10px 10px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Prelo';
    font-size: 16px;
    line-height: 20px;
    @include clearfix;

    [class^="ico-"], [class*=" ico-"] { margin-right: 10px; font-size: 42px; line-height: 42px; float: left; }
    p { margin: 0; }

    /* Styles */
    &.-error { 
        background-color: $color-error-bg;
        border-color: $color-error-border;

        [class^="ico-"], [class*=" ico-"] {
            color: $color-error;
        }
    }
    &.-warning { 
        background-color: $color-warning-bg;
        border-color: $color-warning-border;

        [class^="ico-"], [class*=" ico-"] { color: $color-warning; }
    }
    &.-info { 
        background-color: $color-info-bg;
        border-color: $color-info-border;

        [class^="ico-"], [class*=" ico-"] { color: $color-info; }
    }
    &.-success {
        background-color: $color-success-bg;
        border-color: $color-success-border;

        [class^="ico-"], [class*=" ico-"] { color: $color-success; }
    }

    /* Size */
    &.-small {
        padding: 10px;
        font-size: 13px;
        display: inline-block;

        [class^="ico-"], [class*=" ico-"] { font-size: 20px; line-height: 20px; }
    }

    &.-medium {
        padding: 10px;
        font-size: 14px;
        line-height: 32px;
        display: inline-block;
        [class^="ico-"], [class*=" ico-"] { font-size: 32px; line-height: 32px; }
    }

}