/* petite header */
header { margin-bottom: 15px; padding: 5px 0; box-shadow: 0 1px 10px #ccc; 
	@include clearfix;

	.logo { margin: 0 15px 5px; float: left; }
	.nav-collapsed { margin-top: 8px; padding: 9px 10px; font-size: 18px; color: $color-white; background: $color-red; float: right; cursor: pointer; }
	.nav { margin: 0; padding: 0; list-style: none; font-weight: 800; 
		li { 
			a { text-decoration: none; }
		}
	}
}

@media screen and (min-width: $screen-sm-min) {
	header {
		.nav-collapsed { display: none; }
		.nav { float: right;
			li { float: left; font-size: 16px; line-height: 22px;
				a { color: $color-gray40; padding: 10px; text-decoration: none; text-transform: uppercase; display: block; }
				a:hover { color: $color-gray80; }
			}
		}
	}
}

@media screen and (max-width: $screen-xs-max) {
	header { position: relative;
		.nav-collapsed { margin-right: 5px; }
		.nav {  display: none; width: 100%; clear: both;
			li { 
				a { padding: 10px 10px; font-size: 20px; color: $color-gray80; background-color: $color-gray40; display: block; }
				a::before { padding-right: 8px; content: "\78"; font-size: 14px; font-family: 'cdw-icons-global' }
				a:hover { background-color: $color-gray20; }
			}
		}
	}
}