<div data-sly-use.head="head.js"  data-sly-unwrap> </div><!--/* /data-sly-unwrap */-->
<body>
<div data-sly-resource="${ @path='clientcontext', resourceType='cq/personalization/components/clientcontext'}" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-include="analytics.html" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-include="header.html" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-include="redirect.html" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-include="content.html" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-include="footer.html" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-resource="${ @path='cloudservices', resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-include="footerlibs.html" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
</body>