<div data-sly-use.head="head.js" data-sly-unwrap> </div><!--/* /data-sly-unwrap */-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="${head.keywords}">
<meta name="description" content="${head.description}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>${head.title @ context='html'}</title>
<link rel="shortcut icon" href="${head.faviconPath}" />


<sly data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}">
<link rel="canonical" href="${utility.canonicalDomain}${currentPage.path}.html" />
<meta property="og:type" content="${utility.openGraphPageType}" />
<meta property="og:title" content="${utility.openGraphTitle}" />
<meta property="og:url" content="${utility.canonicalDomain}${currentPage.path}.html" />
<meta data-sly-test="${properties['image/fileReference'] || properties['image/file'] }" property="og:image" content="${utility.canonicalDomain}${currentPage.path}.img.png" />
<meta property="og:description" content="${utility.openGraphDescription}" />
</sly>
<div data-sly-include="metadata-extra.html" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->