<!-- RICH RELEVENCE -->
 
<sly data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}">
<script type="text/javascript">
$( document).ready(function() {

var placement_arr = [];
$.each($('.product-placement'), function (index, item) {
placement_arr.push($(item).data('placement')); 
});
if(placement_arr.length>0){
CDW.productPlacement.init({
        'apiKey': '${utility.richRelevenceApiKey @ context="scriptString"}',
        'baseUrl': '${utility.richRelevenceBaseUrl @ context="scriptString"}',
        'sessionId': CdwCms.settings.session_id,
        'userId': CdwCms.settings.persistent_id,
        'type': '${properties.rrPageType @ context="scriptString"}',
    	'typeData': { ${properties.rrPageType@ context="scriptString"}: '${properties.context @ context="scriptString"}'},
        'template': '',
		'placements': placement_arr
                });
}

});
</script>
</sly>
