/* Layouts */
.layout-full { padding-top: 20px; background-color: #333; }

.layout-extended { max-width: 1400px; position: relative; margin: 0 auto; }

@media screen and (min-width: 768px) {
	//Rows
	.layout { @include outer-container; 
		.layout-9 { @include span-columns(9); }
		.layout-8 { @include span-columns(8); }
		.layout-6 { @include span-columns(6); }
		.layout-4 { @include span-columns(4); }
		.layout-3 { @include span-columns(3); }
	}
}

@media screen and (max-width: $max-width + 15) {
	.layout { padding: 0 10px; max-width: ($max-width - 20); }
}
