/* Main Navigation */
.main-navigation { margin-left: 101px;


    ul { margin: 0; padding: 0; list-style: none; }
    ul li { }
    ul li a { text-decoration: none; }


    /* Primary Navigation */
    .primary-navigation { padding-top: 5px; position: relative; @include clearfix;
        & > li { font-size: 13px; line-height: 37px; float: left; @include vertical-gradient(#fefefe, #cbcbcb); }
        & > li > a { padding: 0 11px; color: #444; font-weight: bold; border: 1px solid #8d8d8d; border-bottom: none; display: block; }
        & > li.active > a,
        & > li.hover > a { padding: 0 12px; color: $white; border: none; }

        & > li.hover .nav-menu { display: block; z-index: 2; }

        /* Secondary Navigation */
        .nav-menu { padding: 2px 2px 0; width: 100%; position: absolute; top: 42px; left: 0; box-sizing: border-box; display: none;
            &.active { display: block; z-index: 1; }
            /*&.hover { display: block; z-index: 2; }*/
            & > li  { font-size: 12px; line-height: 30px; float: left; position: relative; }
            & > li > a { padding: 0 22px; color: $white; font-weight: bold; display: block; background: url("https://img.beta.cdw.com/assets/header/main-nav-divider.png") right 3px no-repeat }
            & > li.hover > a { background: $white; color: #444; }

            & > li.hover .dropdown { display: block; }
        }


        /* Tertiary Navigation */
        .dropdown { padding: 10px; @include clearfix; position: absolute; top: 30px; left: -2px; background: $white; border: 2px solid #ed751e; border-top: 0;  display: none;
            a { color: $base-color; }
            .red-arrows { /*position: relative; top: 1px;*/ }

            /* Dropdown Level 1 */
            .flyout1 { width: 260px; font-size: 12px; line-height: 14px; float: left; box-sizing: border-box;
                ul.nav-links { padding: 8px 0; background: #eaeaea; }
                ul.nav-links li a { padding: 7px 10px; color: #595959; display: block; }
                ul.nav-links li.hasDropdown a { background: url('/content/testing/header-build-2014/images/dropdown-arrow.png') right center no-repeat; }
                ul.nav-links li.hover a,
                ul.nav-links li:hover a { font-weight: bold; background-color: $white; }

                ul.nav-links li:hover .flyout2-wrapper { display: block; }

                ul.nav-links li a.view-all { padding: 12px 10px; font-weight: bold; text-transform: uppercase; background: none; }
                ul.nav-links li a.view-all:hover { color: $primary-color; background-color: transparent; }

            }

            a.view-all { padding: 12px 0; font-weight: bold; text-transform: uppercase; background: none; }
            a.view-all:hover { color: $primary-color; background-color: transparent; }

            /* Flyout1 Templates */
            &.template-brands { 
                .flyout1 { width: 845px; }
                .brands-menu { @include clearfix; }
                .brand-links { margin: 0 7px 0 0; padding: 15px 7px 15px 0; min-width: 128px; border-right: 1px solid #d6d6d4; float: left; box-sizing: border-box; }
                .brand-links:last-child { border-right: none; }
                .brand-links a { padding: 3px 6px; display: block; }
                .brand-links a:hover { color: $white; background-color: #999; }
            }
        }

    }

     /* Different Menu Colors */
    .products-nav.active, .products-nav.hover { @include vertical-gradient(#ed751e, #ed9019); }
    .solutions-nav.active, .solutions-nav.hover { @include vertical-gradient(#1b7ab4, #4ca8d9); }
    .account-nav.active, .account-nav.hover { @include vertical-gradient(#8c8f0e, #a0b00f); }

    #products-menu { @include vertical-gradient(#ed9019, #ed751e); 
        .dropdown { border-color: #ed751e;  }
    }
    #solutions-menu { @include vertical-gradient(#4ca8d9, #1b7ab4); 
        .dropdown { border-color: #1b7ab4;  }
    }
    #account-menu { @include vertical-gradient(#a0b00f, #8c8f0e); 
        .dropdown { border-color: #8c8f0e;  }
    }


    /* Flyout 2 */
    /* Dropdown Level 2 */
    .flyout2-wrapper { font-size: 11px; line-height: 13px; position: absolute; top: 0; left: 270px; box-sizing: border-box; }
    .flyout2 { padding-left: 6px; display:none;
        &.active { display: block; }

        &.loading { margin: 0 auto; padding: 100px; }

        .flyout2-columns { @include clearfix;  
            .flyout2-col { width: 240px; float: left; }
        }
        ul.nav-links { padding: 8px 0; 
            li a { padding: 5px; color: #595959; display: block; }
            li a:hover { color: $white; background-color: #999; }
            }
        .related-links { padding: 10px 5px; line-height: 20px; border-top: 1px solid #d6d6d4; 
            h4 { margin: 0; font-size: 11px; font-weight: bold; font-family:Verdana,Geneva,sans-serif; }
            a { color: $link-color; display: block; }
            a:hover { text-decoration: underline; }

            a .new { color: $primary-color; font-weight: bold; }
        }
        .feature {  @include clearfix; border-bottom: 1px solid #d6d6d4;
            h4 { margin: 0 0 20px; }
            p { margin: 5px 0 15px; }
            img { margin-right: 10px; float: left; }
            .copy { overflow: hidden; }
        }

    }
    /* Templates */
    .template-links-promos { 
        .flyout2-columns { width: 501px; }
        .flyout2-col:first-child { margin-top: 20px; margin-left: 10px; padding-left: 10px; float: right; border-left: 1px solid #d6d6d6; }
        
    }

    .template-links-feature { 
        .flyout2-columns {  }
        .flyout2-col { margin-top: 20px; float: none; }
    }

    /* Promos */
    .promo { margin-bottom: 10px; padding-top: 10px; width: 185px; line-height: $line-height; border-top: 1px solid #d6d6d6;
        &:first-child { padding-top: 0; border-top: none; }

        h5 { margin: 0; font-size: 12px; font-weight: bold; line-height: 16px; font-family:Verdana,Geneva,sans-serif; }
        img { margin: 0 auto; padding: 5px 0; display: block; }
        p { margin: 0; padding: 0; font-size: 11px; }
        .learn-more { margin-top: 5px; font-size: 10px; line-height: 18px; font-weight: bold; text-transform: uppercase; display: block; }
    }

    /* Cloud Menu */
    #products-menu-cloud {  list-style:none; position:absolute; border-top:none; font-size: 14px; color: #fff; padding: 10px; width:320px; z-index:2001; height:auto; 
        .cloud-flyout { padding:30px 0 40px 155px; background:#73c6d3 url('$$$image_root$$$/assets/header/navigation-cloud.jpg') 0 bottom no-repeat; }
        h5 { margin: 0 0 10px; font-family: 'PreloSlab-Bold'; font-size: 20px; line-height: 22px; font-weight: bold; letter-spacing: 0.025em; }
        a { margin: 0 9px 0 0; padding: 2px; text-align: left; font-family: 'Prelo-SemiBold'; font-weight: bold; font-size: 13px; line-height: 16px; letter-spacing: 0.02em; text-transform: uppercase; color: #fff; background: #fff; display: inline-block; 
            span { padding: 2px 14px; background: $primary-color; display: block; }
            &:hover span { background-color: #ed3232; }
        }
    }
   

    /* Weekly Deal */
    #products-menu-deals { width: 594px; line-height: 18px;

        .weekly-deal { @include clearfix; 
            h3 { margin: 0 0 15px -10px; padding: 0 15px;
                font-size: 17px; font-family: "Prelo-Bold",verdana,sans-serif; color: #fff; background-color: $primary-color; display: inline-block; 

            }
            h4 { margin: 10px 0; font-size: 18px; font-weight: normal; }
            h5 { margin: 0 0 8px; font-size: 14px; text-transform: uppercase; 
                .red-arrows { margin-left: 5px; font-size: 18px; display: inline-block; }
            }
            a { color: $base-color; }
            p { margin: 0 0 18px; }
            

            .best-deal { margin-bottom: 15px;  @include clearfix; 
                img { float: left; }
                p { margin-bottom: 4px; }
                .copy { overflow: auto; }
                .red { line-height: 22px; 
                    b { font-size: 16px; } 
                }
                h5 { margin-top: 10px; }
            }
            .top-values { padding-top: 15px; background: url("$$$image_root$$$/assets/header/best-deals-dividing-line.png") center top no-repeat; }
            .top-categories { @include clearfix;
                li { margin: 0; padding: 0; width: 120px; float: left; }
                a { color: $link-color; }
            }
        }
        section { width: 387px; float: left; border-right: 1px solid #d6d6d4; }
        aside { padding-left: 10px; width: 205px; float: right; box-sizing: border-box; 
                ul { margin-top: 20px; }
        }
    }

}