.featured-item { 
	img { margin: 0 auto; display: block; }
	
	h4, p, .button-lockup { overflow: hidden; }
	
	.button-lockup { @include clearfix;
		.pricing-block { margin-right: 10px; float: left; 
			b, strong { font-size: 20px; line-height: 22px; }
			p { margin: 0; }	
		}
		.button { float: left; }	
	}
	
	&.-left { @include clearfix;
		img { margin: 0 15px 0 0; float: left; }
	}
	&.-right { @include clearfix;
		img { margin: 0 0 0 15px; float: right; }
	}
}