<main id="content" role="main" data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}">
    <div data-sly-test="${utility.getSiteRootPagePath}" data-sly-resource="${ '/jcr:content/breadcrumbs' @ prependPath=utility.getSiteRootPagePath, resourceType='/apps/cdw/components/content/cdwbreadcrumbs'}" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
<div data-sly-resource="${ @path='mainpar', resourceType='foundation/components/parsys'}" data-sly-unwrap=""> </div><!--/* /data-sly-unwrap */-->
</main>