/* Color Scheme */
/* 7 Shades of Grey */
/* Error Colors */
/* Bourbo.io and Neat.io */
/* Mixins */
/* Border Radius */
/* Border-Box */
/* Font-Face Include */
/* Gradient */
/* Responsive Image */
/* Clearfix */
/* Visually Hidden */
/* Ellipses - for single line of text only */
/* No Select */
/* Social */
/* Buttons */
.button, .blueButton, .redButton, .yellowButton, .whiteButton, .disabledButton {
  padding: 5px 20px;
  font-family: 'Prelo-Bold', verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  /* Color Variations */
  /*&.-border { border: 2px solid $color-white; 
        &.-white { border-color: #616265; 
            &:hover { border-color: $color-white;  }
        }

    }*/ }
  .button:active, .blueButton:active, .redButton:active, .yellowButton:active, .whiteButton:active, .disabledButton:active, .button:link, .blueButton:link, .redButton:link, .yellowButton:link, .whiteButton:link, .disabledButton:link, .button:visited, .blueButton:visited, .redButton:visited, .yellowButton:visited, .whiteButton:visited, .disabledButton:visited {
    color: #fff; }
  .button:hover, .blueButton:hover, .redButton:hover, .yellowButton:hover, .whiteButton:hover, .disabledButton:hover {
    text-decoration: none; }
  .button.-blue, .blueButton, .-blue.redButton, .-blue.yellowButton, .-blue.whiteButton, .-blue.disabledButton {
    background: #527fa5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #527fa5), color-stop(100%, #42739c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #527fa5 0%, #42739c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527fa5', endColorstr='#42739c',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #3a678d; }
    .button.-blue:hover, .blueButton:hover, .-blue.redButton:hover, .-blue.yellowButton:hover, .-blue.whiteButton:hover, .-blue.disabledButton:hover {
      background: #5f93bf;
      /* Old browsers */
      background: -moz-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f93bf), color-stop(100%, #4d85b5));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #5f93bf 0%, #4d85b5 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f93bf', endColorstr='#4d85b5',GradientType=0 );
      /* IE6-9 */ }
  .button.-red, .-red.blueButton, .redButton, .-red.yellowButton, .-red.whiteButton, .-red.disabledButton {
    background-color: #cc0000; }
    .button.-red:hover, .-red.blueButton:hover, .redButton:hover, .-red.yellowButton:hover, .-red.whiteButton:hover, .-red.disabledButton:hover {
      background-color: red; }
    .button.-red.-border, .-red.-border.blueButton, .-border.redButton, .-red.-border.yellowButton, .-red.-border.whiteButton, .-red.-border.disabledButton {
      border: 1px solid #cc0000;
      color: #cc0000;
      background: #fff; }
  .button.-gray, .-gray.blueButton, .-gray.redButton, .-gray.yellowButton, .-gray.whiteButton, .-gray.disabledButton {
    background-color: #616265; }
    .button.-gray:hover, .-gray.blueButton:hover, .-gray.redButton:hover, .-gray.yellowButton:hover, .-gray.whiteButton:hover, .-gray.disabledButton:hover {
      background-color: #7a7b7f; }
    .button.-gray.-border, .-gray.-border.blueButton, .-gray.-border.redButton, .-gray.-border.yellowButton, .-gray.-border.whiteButton, .-gray.-border.disabledButton {
      border: 1px solid #616265;
      color: #616265;
      background: #fff; }
  .button.-green, .-green.blueButton, .-green.redButton, .-green.yellowButton, .-green.whiteButton, .-green.disabledButton {
    background-color: #6fb600; }
    .button.-green:hover, .-green.blueButton:hover, .-green.redButton:hover, .-green.yellowButton:hover, .-green.whiteButton:hover, .-green.disabledButton:hover {
      background-color: #7ecb00; }
  .button.-orange, .-orange.blueButton, .-orange.redButton, .yellowButton, .-orange.whiteButton, .-orange.disabledButton {
    background: #ffa245;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa245), color-stop(100%, #ff9933));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffa245 0%, #ff9933 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa245', endColorstr='#ff9933',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #dd7f21; }
    .button.-orange:hover, .-orange.blueButton:hover, .-orange.redButton:hover, .yellowButton:hover, .-orange.whiteButton:hover, .-orange.disabledButton:hover {
      background: #ffba4f;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffba4f), color-stop(100%, #ff9933));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ffba4f 0%, #ff9933 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba4f', endColorstr='#ff9933',GradientType=0 );
      /* IE6-9 */ }
  .button.-white, .-white.blueButton, .-white.redButton, .-white.yellowButton, .whiteButton, .-white.disabledButton {
    background: #fafaf8;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fafaf8 0%, #f4f4ea 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafaf8), color-stop(100%, #f4f4ea));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafaf8 0%, #f4f4ea 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafaf8 0%, #f4f4ea 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fafaf8 0%, #f4f4ea 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #fafaf8 0%, #f4f4ea 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaf8', endColorstr='#f4f4ea',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #cacaca;
    color: #0c73b6; }
    .button.-white:hover, .-white.blueButton:hover, .-white.redButton:hover, .-white.yellowButton:hover, .whiteButton:hover, .-white.disabledButton:hover {
      background: #fff;
      /* Old browsers */
      background: -moz-linear-gradient(top, #fff 0%, #f4f4ea 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f4f4ea));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fff 0%, #f4f4ea 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fff 0%, #f4f4ea 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #fff 0%, #f4f4ea 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #fff 0%, #f4f4ea 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f4f4ea',GradientType=0 );
      /* IE6-9 */ }
  .button.-clear, .-clear.blueButton, .-clear.redButton, .-clear.yellowButton, .-clear.whiteButton, .-clear.disabledButton {
    background-color: none;
    border: 1px solid #fff; }
    .button.-clear:hover, .-clear.blueButton:hover, .-clear.redButton:hover, .-clear.yellowButton:hover, .-clear.whiteButton:hover, .-clear.disabledButton:hover {
      color: #fff;
      background: rgba(255, 255, 255, 0.1); }
  .button.-disabled, .-disabled.blueButton, .-disabled.redButton, .-disabled.yellowButton, .-disabled.whiteButton, .disabledButton {
    opacity: .5;
    cursor: not-allowed; }
  .button.-shadow, .-shadow.blueButton, .-shadow.redButton, .-shadow.yellowButton, .-shadow.whiteButton, .-shadow.disabledButton {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24); }
  .button.-rounded, .-rounded.blueButton, .-rounded.redButton, .-rounded.yellowButton, .-rounded.whiteButton, .-rounded.disabledButton {
    border-radius: 5px; }
  .button.-large, .-large.blueButton, .blueButton.bigButton, .-large.redButton, .redButton.bigButton, .-large.yellowButton, .yellowButton.bigButton, .-large.whiteButton, .whiteButton.bigButton, .-large.disabledButton, .disabledButton.bigButton, .button.bigButton {
    padding: 6px 18px;
    font-size: 15px; }

/* Support Legacy */
/* Let's remove legacy support soon please! */
.form-fields {
  background-color: #efefef;
  /* Horizontal */ }
  .form-fields label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px; }
    .form-fields label span {
      font-weight: normal; }
  .form-fields .form-group {
    margin-bottom: 15px; }
    .form-fields .form-group input, .form-fields .form-group textarea {
      margin-bottom: 3px;
      padding: 4px;
      width: 100%;
      border: 1px solid #ccc;
      box-sizing: border-box; }
  .form-fields input[type="submit"], .form-fields input[type=button], .form-fields button {
    border: none;
    border: inherit; }
  .form-fields .note {
    color: #aaa;
    text-align: right; }
  .form-fields.-horizontal .form-group::after {
    clear: both;
    content: "";
    display: table; }
  .form-fields.-horizontal .form-group label {
    margin-right: 4%;
    width: 35%;
    line-height: 32px;
    float: left;
    text-align: right; }
  .form-fields.-horizontal .form-group input, .form-fields.-horizontal .form-group textarea {
    width: auto;
    float: left; }

.featured-item img {
  margin: 0 auto;
  display: block; }
.featured-item h4, .featured-item p, .featured-item .button-lockup {
  overflow: hidden; }
.featured-item .button-lockup::after {
  clear: both;
  content: "";
  display: table; }
.featured-item .button-lockup .pricing-block {
  margin-right: 10px;
  float: left; }
  .featured-item .button-lockup .pricing-block b, .featured-item .button-lockup .pricing-block strong {
    font-size: 20px;
    line-height: 22px; }
  .featured-item .button-lockup .pricing-block p {
    margin: 0; }
.featured-item .button-lockup .button, .featured-item .button-lockup .blueButton, .featured-item .button-lockup .redButton, .featured-item .button-lockup .yellowButton, .featured-item .button-lockup .whiteButton, .featured-item .button-lockup .disabledButton {
  float: left; }
.featured-item.-left::after {
  clear: both;
  content: "";
  display: table; }
.featured-item.-left img {
  margin: 0 15px 0 0;
  float: left; }
.featured-item.-right::after {
  clear: both;
  content: "";
  display: table; }
.featured-item.-right img {
  margin: 0 0 0 15px;
  float: right; }

.notification-bar {
  margin: 15px 0 25px;
  padding: 10px 70px 10px 10px;
  border-style: solid;
  border-width: 1px;
  font-family: 'Prelo-Book';
  font-size: 16px;
  line-height: 20px;
  /* Styles */
  /* Size */ }
  .notification-bar::after {
    clear: both;
    content: "";
    display: table; }
  .notification-bar strong, .notification-bar b {
    font-family: 'Prelo-SemiBold'; }
  .notification-bar [class^="ico-"], .notification-bar [class*=" ico-"] {
    margin-right: 10px;
    font-size: 42px;
    line-height: 42px;
    float: left; }
  .notification-bar p {
    margin: 0; }
  .notification-bar.-error {
    background-color: #f7dbe0;
    border-color: #cc0000; }
    .notification-bar.-error [class^="ico-"], .notification-bar.-error [class*=" ico-"] {
      color: #d15454; }
  .notification-bar.-warning {
    background-color: #f6e6c2;
    border-color: #f5b324; }
    .notification-bar.-warning [class^="ico-"], .notification-bar.-warning [class*=" ico-"] {
      color: #f5c355; }
  .notification-bar.-info {
    background-color: #c9e5ef;
    border-color: #0070bc; }
    .notification-bar.-info [class^="ico-"], .notification-bar.-info [class*=" ico-"] {
      color: #3294b6; }
  .notification-bar.-success {
    background-color: #dfeecc;
    border-color: #76bd22; }
    .notification-bar.-success [class^="ico-"], .notification-bar.-success [class*=" ico-"] {
      color: #92c556; }
  .notification-bar.-small {
    padding: 10px;
    font-size: 13px;
    display: inline-block; }
    .notification-bar.-small [class^="ico-"], .notification-bar.-small [class*=" ico-"] {
      font-size: 20px;
      line-height: 20px; }
  .notification-bar.-medium {
    padding: 10px;
    font-size: 14px;
    line-height: 32px;
    display: inline-block; }
    .notification-bar.-medium [class^="ico-"], .notification-bar.-medium [class*=" ico-"] {
      font-size: 32px;
      line-height: 32px; }

.social-icons {
  margin: 4px 0;
  padding: 0;
  list-style: none;
  font-family: 'cdw-icons-global';
  font-size: 18px;
  line-height: 20px;
  /* Circle Default */
  /* Versions */ }
  .social-icons::after {
    clear: both;
    content: "";
    display: table; }
  .social-icons li {
    margin-right: 5px;
    text-align: center;
    float: left; }
  .social-icons li:last-child {
    margin-right: 0; }
  .social-icons a {
    text-decoration: none; }
  .social-icons span {
    min-width: 20px;
    min-height: 20px;
    display: block; }
  .social-icons .ico-twitter {
    color: #5eb5e3;
    border: 1px solid #5eb5e3; }
  .social-icons .ico-twitter:hover {
    color: #89c9eb;
    border-color: #89c9eb; }
  .social-icons .ico-linkedin {
    color: #3158a9;
    border: 1px solid #3158a9; }
  .social-icons .ico-linkedin:hover {
    color: #446fc9;
    border-color: #446fc9; }
  .social-icons .ico-facebook {
    color: #0975a3;
    border: 1px solid #0975a3; }
  .social-icons .ico-facebook:hover {
    color: #0c98d3;
    border-color: #0c98d3; }
  .social-icons .ico-spiceworks {
    color: #fc5900;
    border: 1px solid #fc5900; }
  .social-icons .ico-spiceworks:hover {
    color: #ff7930;
    border-color: #ff7930; }
  .social-icons:not(.-square) span {
    min-width: 20px;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  .social-icons.-square span {
    min-width: 20px;
    display: block; }
  .social-icons.-square .icon {
    border: none; }
  .social-icons.-square .ico-twitter {
    background-color: #5eb5e3;
    color: #fff; }
  .social-icons.-square .ico-twitter:hover {
    background-color: #89c9eb; }
  .social-icons.-square .ico-linkedin {
    background-color: #3158a9;
    color: #fff; }
  .social-icons.-square .ico-linkedin:hover {
    background-color: #446fc9; }
  .social-icons.-square .ico-facebook {
    background-color: #0975a3;
    color: #fff; }
  .social-icons.-square .ico-facebook:hover {
    background-color: #0c98d3; }
  .social-icons.-square .ico-spiceworks {
    background-color: #fc5900;
    color: #fff; }
  .social-icons.-square .ico-spiceworks:hover {
    background-color: #ff7930; }
  .social-icons.-small {
    font-size: 16px;
    line-height: 18px; }
    .social-icons.-small:not(.-square) span {
      min-width: 18px;
      min-height: 18px;
      display: block;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      border-radius: 9px; }

[class^="icon-"], [class*=" icon-"] {
  line-height: inherit; }

.hero {
  background-image: url(../images/hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 320px;
  margin-bottom: 20px;
  color: white; }
  .hero .btn {
    font-family: 'Prelo-SemiBold';
    font-size: 18px; }
  .hero.-partner-logo {
    background-image: none;
    color: #4d4e53; }
    .hero.-partner-logo .product-hold {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .hero.-partner-logo .product-hold:last-child {
        margin-right: 0; }
  .hero .row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; }
    .hero .row::after {
      clear: both;
      content: "";
      display: table; }
    .hero .row .copy {
      padding-top: 30px;
      padding-left: 4.27%; }
      .hero .row .copy p {
        line-height: 22px; }

.lead-gen-hero {
  background-image: url(../images/lead-gen2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 320px;
  margin-bottom: 20px;
  color: white; }
  .lead-gen-hero .btn {
    font-family: 'Prelo-SemiBold';
    font-size: 18px; }
  .lead-gen-hero .row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; }
    .lead-gen-hero .row::after {
      clear: both;
      content: "";
      display: table; }
    .lead-gen-hero .row .copy {
      padding-top: 30px;
      padding-left: 4.27%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .lead-gen-hero .row .copy h1 {
        text-transform: none; }
      .lead-gen-hero .row .copy:last-child {
        margin-right: 0; }
      .lead-gen-hero .row .copy p {
        line-height: 22px; }

.layout-extended {
  padding-bottom: 40px; }
  .layout-extended .hero-full {
    background-image: url(../images/hero2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 320px;
    background-position: center;
    min-height: 320px; }
    .layout-extended .hero-full img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-left: 8.5298%;
      margin-top: 200px; }
      .layout-extended .hero-full img:last-child {
        margin-right: 0; }
  .layout-extended .container .row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; }
    .layout-extended .container .row::after {
      clear: both;
      content: "";
      display: table; }
    .layout-extended .container .row .copy {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .layout-extended .container .row .copy:last-child {
        margin-right: 0; }
      .layout-extended .container .row .copy h1 {
        color: #cc0000; }

.form {
  margin-top: -275px;
  min-height: 700px !important; }

.copy .-sub-font {
  font-size: 14px;
  line-height: 16px; }

.partner-lockup-area {
  margin-left: 68.23843%; }
  .partner-lockup-area .partner-lockup .cdw-logo-hold {
    display: inline; }
    .partner-lockup-area .partner-lockup .cdw-logo-hold::before {
      content: "";
      display: inline;
      position: relative;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      border: 3px solid #4d4e53;
      border-width: 45px 0 0 1px;
      margin: 0 20px; }

.product-spot .row {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  .product-spot .row::after {
    clear: both;
    content: "";
    display: table; }
