/* Color Scheme */
/* 7 Shades of Grey */
/* Error Colors */
/* Bourbo.io and Neat.io */
/* Mixins */
/* Border Radius */
/* Border-Box */
/* Font-Face Include */
/* Gradient */
/* Responsive Image */
/* Clearfix */
/* Visually Hidden */
/* Ellipses - for single line of text only */
/* No Select */
/* Social */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative; }

.jspPane {
  position: absolute; }

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: red; }

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: red; }

.jspCap {
  display: none; }

.jspHorizontalBar .jspCap {
  float: left; }

.jspTrack {
  background: #fff url("http://img.beta.cdw.com/content/search/scrollbar_bg.gif") center 0 repeat-y;
  position: relative; }

.jspDrag {
  background: #a1a1a1;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
  float: left;
  height: 100%; }

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0; }

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d; }

.jspVerticalBar .jspArrow {
  height: 15px; }

.jspHorizontalBar .jspArrow {
  width: 15px;
  float: left;
  height: 100%; }

.jspVerticalBar .jspArrow:focus {
  outline: none; }

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0; }

/*
 * Icomoon Font
 *
 * DO NOT COPY FONT FACE DECLARATION!!!!!
*/
[class^="ico-"], [class*=" ico-"] {
  font-family: 'cdw-icons-global';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ico-person-signals-phone:before {
  content: "\e637"; }

.ico-person-signals-phone2:before {
  content: "\e6ba"; }

.ico-computer-internet:before {
  content: "\e6b9"; }

.ico-arrows-scale:before {
  content: "\e6bc"; }

.ico-square-solid-part:before {
  content: "\e6bd"; }

.ico-nodes-network-circles:before {
  content: "\e6be"; }

.ico-internet-global-arrow:before {
  content: "\e6bf"; }

.ico-person-signals:before {
  content: "\e6c0"; }

.ico-computer-arrow-computer:before {
  content: "\e6c1"; }

.ico-server-racks:before {
  content: "\e6c2"; }

.ico-first-aid-kit-case:before {
  content: "\e6c3"; }

.ico-points-fiber-network:before {
  content: "\e6c4"; }

.ico-award-blue-ribbon:before {
  content: "\e6c5"; }

.ico-computer-worker-helmet:before {
  content: "\e6c6"; }

.ico-person-balance:before {
  content: "\e6c7"; }

.ico-people:before {
  content: "\e6c8"; }

.ico-person-hands-arrows:before {
  content: "\e6c9"; }

.ico-person-circle-arrow:before {
  content: "\e6b8"; }

.ico-id-card-staff:before {
  content: "\e6b4"; }

.ico-location-pins-three:before {
  content: "\e6b5"; }

.ico-networking-outline-official:before {
  content: "\e6b6"; }

.ico-networking-solid-official:before {
  content: "\e6b7"; }

.ico-gear-person-inside:before {
  content: "\e6b1"; }

.ico-car-siren:before {
  content: "\e6b2"; }

.ico-clock-continious:before {
  content: "\e6b3"; }

.ico-money-circle:before {
  content: "\e6ad"; }

.ico-figure-8-course:before {
  content: "\e6ae"; }

.ico-two-people:before {
  content: "\e6af"; }

.ico-triangle-exclamation-error:before {
  content: "\e6b0"; }

.ico-zero-percent:before {
  content: "\e69f"; }

.ico-upward-movement-arrow:before {
  content: "\e6a0"; }

.ico-two-opposing-arrows-circle:before {
  content: "\e6a1"; }

.ico-scissors-dotted-line:before {
  content: "\e6a2"; }

.ico-bundle-money:before {
  content: "\e6a3"; }

.ico-arrows-person:before {
  content: "\e6a4"; }

.ico-cycle-arrows-money:before {
  content: "\e6a5"; }

.ico-map-pin-money:before {
  content: "\e6a6"; }

.ico-check-money:before {
  content: "\e6a7"; }

.ico-hand-1-dollar-bill:before {
  content: "\e6a8"; }

.ico-cycle-arrow-servers:before {
  content: "\e6a9"; }

.ico-hand-coin:before {
  content: "\e6aa"; }

.ico-approved:before {
  content: "\e6ab"; }

.ico-counter-clockwise-arrow:before {
  content: "\e6ac"; }

.ico-ladder:before {
  content: "\e69d"; }

.ico-message-bubble-q-a:before {
  content: "\e69e"; }

.ico-hand-graph:before {
  content: "\e679"; }

.ico-gear-graph:before {
  content: "\e67a"; }

.ico-servers-two:before {
  content: "\e691"; }

.ico-lightning-speed-outline-offical:before {
  content: "\e692"; }

.ico-lightning-speed-solid-offical:before {
  content: "\e693"; }

.ico-information-security:before {
  content: "\e694"; }

.ico-hand-sprout:before {
  content: "\e695"; }

.ico-network-security:before {
  content: "\e696"; }

.ico-three-squares-overlapping-check:before {
  content: "\e697"; }

.ico-two-paths-merging:before {
  content: "\e698"; }

.ico-seal-approval-checkmark:before {
  content: "\e699"; }

.ico-square-duplicate-dottedline:before {
  content: "\e69a"; }

.ico-low-meter:before {
  content: "\e69b"; }

.ico-three-blocks:before {
  content: "\e69c"; }

.ico-security-graph:before {
  content: "\e68e"; }

.ico-data-center-solid-official:before {
  content: "\e68f"; }

.ico-data-center-outline-official:before {
  content: "\e690"; }

.ico-tag-writing:before {
  content: "\e686"; }

.ico-desktop-notebook-printer:before {
  content: "\e687"; }

.ico-barcode-tracking:before {
  content: "\e688"; }

.ico-case-box:before {
  content: "\e689"; }

.ico-paper-writing:before {
  content: "\e68a"; }

.ico-pallet-box:before {
  content: "\e68b"; }

.ico-servers-storage:before {
  content: "\e68c"; }

.ico-rubix-cube-gear:before {
  content: "\e68d"; }

.ico-glass-damage:before {
  content: "\e680"; }

.ico-coins-person:before {
  content: "\e681"; }

.ico-umbrella-person:before {
  content: "\e682"; }

.ico-money-sheild:before {
  content: "\e683"; }

.ico-flag-hole:before {
  content: "\e684"; }

.ico-calendar:before {
  content: "\e685"; }

.ico-security-outline-official:before {
  content: "\e676"; }

.ico-security-solid-official:before {
  content: "\e678"; }

.ico-person-blog:before {
  content: "\e67b"; }

.ico-hand-data:before {
  content: "\e67c"; }

.ico-person-shield:before {
  content: "\e67d"; }

.ico-person-running-stairs:before {
  content: "\e67e"; }

.ico-hand-shake:before {
  content: "\e67f"; }

.ico-and-thinner:before {
  content: "\e675"; }

.ico-cloud-cart:before {
  content: "\e674"; }

.ico-person-computer-view:before {
  content: "\e669"; }

.ico-content:before {
  content: "\e66a"; }

.ico-folder-data-download:before {
  content: "\e66b"; }

.ico-person-boxes:before {
  content: "\e66c"; }

.ico-conference-video-solid-official:before {
  content: "\e66d"; }

.ico-conference-video-outline-official:before {
  content: "\e66e"; }

.ico-landline-signal:before {
  content: "\e66f"; }

.ico-two-browsers:before {
  content: "\e670"; }

.ico-cloud-solid-official:before {
  content: "\e671"; }

.ico-cloud-outline-official:before {
  content: "\e672"; }

.ico-hand-gear-person:before {
  content: "\e673"; }

.ico-assess-document-checklist:before {
  content: "\e65c"; }

.ico-design-ruler-pencil:before {
  content: "\e65d"; }

.ico-deploy-paper-airplane:before {
  content: "\e65e"; }

.ico-manage-person-circle:before {
  content: "\e65f"; }

.ico-bullseye:before {
  content: "\e663"; }

.ico-two-arrows-money:before {
  content: "\e664"; }

.ico-data-magnifying-glass:before {
  content: "\e665"; }

.ico-head-energy:before {
  content: "\e666"; }

.ico-gavel:before {
  content: "\e667"; }

.ico-data-point-finger:before {
  content: "\e668"; }

.ico-thumb-like:before {
  content: "\e652"; }

.ico-and:before {
  content: "\e653"; }

.ico-plain-clock:before {
  content: "\e654"; }

.ico-touch-screen:before {
  content: "\e655"; }

.ico-store-front:before {
  content: "\e656"; }

.ico-mobile-shopping:before {
  content: "\e657"; }

.ico-credit-card:before {
  content: "\e658"; }

.ico-bar-code:before {
  content: "\e659"; }

.ico-burst-check:before {
  content: "\e651"; }

.ico-sports-playbook:before {
  content: "\e64d"; }

.ico-circle-exclamation-point:before {
  content: "\e642"; }

.ico-circle-check-mark:before {
  content: "\e643"; }

.ico-circle-i:before {
  content: "\e64b"; }

.ico-circle-angry-face:before {
  content: "\e64c"; }

.ico-CheckAndDelete:before {
  content: "\e641"; }

.ico-stadium-drawing:before {
  content: "\e64a"; }

.ico-mobile-phone-price-tag:before {
  content: "\e649"; }

.ico-stadium-referee:before {
  content: "\e648"; }

.ico-person-mobile-phone-flag:before {
  content: "\e647"; }

.ico-drink-hot-dog:before {
  content: "\e65a"; }

.ico-file-folder:before {
  content: "\e65b"; }

.ico-power-cooling-datacenter:before {
  content: "\e660"; }

.ico-replay:before {
  content: "\e661"; }

.ico-sports-fan:before {
  content: "\e662"; }

.ico-two-people-playing-soccer:before {
  content: "\e677"; }

.ico-up-arrow:before {
  content: "\7c"; }

.ico-down-arrow:before {
  content: "\7b"; }

.ico-test:before {
  content: "\e650"; }

.ico-server-locked:before {
  content: "\e646"; }

.ico-mobile-locked:before {
  content: "\e640"; }

.ico-clouds-locked:before {
  content: "\e645"; }

.ico-shield-checked:before {
  content: "\e63f"; }

.ico-cloud_security:before {
  content: "\e64f"; }

.ico-globe-camera:before {
  content: "\e644"; }

.ico-mobile_security:before {
  content: "\e64e"; }

.ico-servers-stacked:before {
  content: "\e63d"; }

.ico-volume-up:before {
  content: "\e631"; }

.ico-mouse:before {
  content: "\e63a"; }

.ico-game-controller:before {
  content: "\e63b"; }

.ico-monitor:before {
  content: "\e63c"; }

.ico-comments-o:before {
  content: "\e632"; }

.ico-support-female:before {
  content: "\e633"; }

.ico-envelope:before {
  content: "\e634"; }

.ico-alarm-clock:before {
  content: "\e635"; }

.ico-phone:before {
  content: "\e636"; }

.ico-user-laptop:before {
  content: "\e638"; }

.ico-laptop-fix:before {
  content: "\e639"; }

.ico-circle-dashed:before {
  content: "\e630"; }

.ico-cart:before {
  content: "\e62f"; }

.ico-box-paper:before {
  content: "\e62e"; }

.ico-network-many:before {
  content: "\e629"; }

.ico-mobile-people:before {
  content: "\e62a"; }

.ico-power-lines:before {
  content: "\e62b"; }

.ico-wifi-mountains:before {
  content: "\e62c"; }

.ico-plug:before {
  content: "\e62d"; }

.ico-CheckAndDelete6:before {
  content: "\e625"; }

.ico-cloud-server-locked:before {
  content: "\e626"; }

.ico-CheckAndDelete7:before {
  content: "\e627"; }

.ico-CheckAndDelete8:before {
  content: "\e628"; }

.ico-checklist:before {
  content: "\e61e"; }

.ico-cylinder-arrows:before {
  content: "\e61f"; }

.ico-hand-fix:before {
  content: "\e620"; }

.ico-ipv6:before {
  content: "\e621"; }

.ico-people-business:before {
  content: "\e622"; }

.ico-tachometer:before {
  content: "\e623"; }

.ico-wifi:before {
  content: "\e624"; }

.ico-facebook:before {
  content: "\e604"; }

.ico-linkedin:before {
  content: "\e609"; }

.ico-spiceworks:before {
  content: "\e612"; }

.ico-twitter:before {
  content: "\e61b"; }

.ico-fan:before {
  content: "\e61a"; }

.ico-users-standing:before {
  content: "\e613"; }

.ico-clock:before {
  content: "\e614"; }

.ico-hourglass:before {
  content: "\e615"; }

.ico-cogs:before {
  content: "\e616"; }

.ico-thermometer:before {
  content: "\e617"; }

.ico-line-chart:before {
  content: "\e618"; }

.ico-money-bag:before {
  content: "\e619"; }

.ico-arrow-three-ways:before {
  content: "\e60f"; }

.ico-cloud:before {
  content: "\e610"; }

.ico-mobile-comment:before {
  content: "\e611"; }

.ico-hdd-transfer:before {
  content: "\e60a"; }

.ico-arrows-facing-square:before {
  content: "\e60b"; }

.ico-fan-arrow:before {
  content: "\e60c"; }

.ico-grid-half:before {
  content: "\e60d"; }

.ico-databases-four:before {
  content: "\e60e"; }

.ico-servers-cloud:before {
  content: "\e606"; }

.ico-network-refresh:before {
  content: "\e607"; }

.ico-software-upgrade:before {
  content: "\e608"; }

.ico-handshake-o:before {
  content: "\e605"; }

.ico-search-file:before {
  content: "\e600"; }

.ico-paper-plane:before {
  content: "\e601"; }

.ico-CheckAndDelete5:before {
  content: "\e602"; }

.ico-checklist-clipboard:before {
  content: "\e603"; }

.ico-logo-cdw:before {
  content: "\61"; }

.ico-youtube:before {
  content: "\62"; }

.ico-twitter-square:before {
  content: "\64"; }

.ico-spiceworks-square:before {
  content: "\65"; }

.ico-linkedin-square:before {
  content: "\66"; }

.ico-facebook-square:before {
  content: "\67"; }

.ico-logo-cdwg:before {
  content: "\68"; }

.ico-logo-cdw-ca:before {
  content: "\63"; }

.ico-chevron-right:before {
  content: "\78"; }

.ico-chevron-left:before {
  content: "\79"; }

.ico-chevron-right-thin:before {
  content: "\72"; }

.ico-chevron-left-thin:before {
  content: "\6c"; }

.ico-globe-wire:before {
  content: "\69"; }

.ico-chart-bar-circle:before {
  content: "\6a"; }

.ico-people-business-mobile:before {
  content: "\70"; }

.ico-stopwatch-globe:before {
  content: "\74"; }

.ico-chevron-up-thin:before {
  content: "\75"; }

.ico-pdf-square:before {
  content: "\6b"; }

.ico-document-square:before {
  content: "\6d"; }

.ico-image:before {
  content: "\6e"; }

.ico-uni6F:before {
  content: "\6f"; }

.ico-uni71:before {
  content: "\71"; }

.ico-uni73:before {
  content: "\73"; }

.ico-uni76:before {
  content: "\76"; }

.ico-play-circle-o:before {
  content: "\77"; }

.ico-lock:before {
  content: "\7a"; }

.ico-weights:before {
  content: "\41"; }

.ico-network:before {
  content: "\42"; }

.ico-plus:before {
  content: "\43"; }

.ico-metric-increase:before {
  content: "\44"; }

.ico-comment:before {
  content: "\45"; }

.ico-uni46:before {
  content: "\46"; }

.ico-address-book:before {
  content: "\47"; }

.ico-usd-square:before {
  content: "\48"; }

.ico-building-office:before {
  content: "\49"; }

.ico-parthenon:before {
  content: "\4a"; }

.ico-building-office2:before {
  content: "\4b"; }

.ico-cogs2:before {
  content: "\4c"; }

.ico-user-centric:before {
  content: "\4e"; }

.ico-lightbulb:before {
  content: "\4f"; }

.ico-humans-two:before {
  content: "\50"; }

.ico-gameplan:before {
  content: "\51"; }

.ico-uni52:before {
  content: "\52"; }

.ico-CheckAndDelete4:before {
  content: "\53"; }

.ico-CheckAndDelete3:before {
  content: "\54"; }

.ico-share:before {
  content: "\55"; }

.ico-CheckAndDelete9:before {
  content: "\56"; }

.ico-CheckAndDelete10:before {
  content: "\57"; }

.ico-signal-tower:before {
  content: "\58"; }

.ico-ruler-pencil:before {
  content: "\4d"; }

.ico-uni59:before {
  content: "\59"; }

.ico-uni5A:before {
  content: "\5a"; }

.ico-mobile-tablet:before {
  content: "\5b"; }

.ico-CheckAndDelete11:before {
  content: "\5c"; }

.ico-quote-right:before {
  content: "\5d"; }

.ico-quote-left:before {
  content: "\5e"; }

.ico-thought-lightbulb:before {
  content: "\30"; }

.ico-hand-money:before {
  content: "\32"; }

.ico-cloud-winner:before {
  content: "\33"; }

.ico-cloud-locked:before {
  content: "\37"; }

.ico-cloud-warning:before {
  content: "\34"; }

.ico-uni36:before {
  content: "\36"; }

.ico-cloud-metric:before {
  content: "\35"; }

.ico-thought-cogs:before {
  content: "\31"; }

.ico-user-wifi:before {
  content: "\38"; }

.ico-user-bullseye:before {
  content: "\39"; }

.ico-printer:before {
  content: "\21"; }

.ico-warning:before {
  content: "\22"; }

.ico-cloud-person:before {
  content: "\23"; }

.ico-messaging:before {
  content: "\24"; }

.ico-handshake:before {
  content: "\25"; }

.ico-user-talk:before {
  content: "\26"; }

.ico-phone-talk:before {
  content: "\28"; }

.ico-knob:before {
  content: "\27"; }

.ico-globe-finger-point:before {
  content: "\29"; }

.ico-clock2:before {
  content: "\2a"; }

.ico-monitor-charts:before {
  content: "\2b"; }

.ico-uni5F:before {
  content: "\5f"; }

.ico-uni60:before {
  content: "\60"; }

.ico-twitter2:before {
  content: "\2d"; }

.ico-twitter22:before {
  content: "\e61c"; }

.ico-menu:before {
  content: "\e6bb"; }

.ico-googleplus:before {
  content: "\e61d"; }

.ico-export:before {
  content: "\e63e"; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* Prelo */
@font-face {
  font-family: "Prelo";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/webfonts/prelo-light-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/prelo-light-webfont.woff2") format("woff2"), url("/assets/fonts/webfonts/prelo-light-webfont.woff") format("woff"), url("/assets/fonts/webfonts/prelo-light-webfont.ttf") format("truetype"), url("/assets/fonts/webfonts/prelo-light-webfont.svg#Prelo") format("svg"); }

@font-face {
  font-family: "Prelo";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/webfonts/prelo-book-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/prelo-book-webfont.woff2") format("woff2"), url("/assets/fonts/webfonts/prelo-book-webfont.woff") format("woff"), url("/assets/fonts/webfonts/prelo-book-webfont.ttf") format("truetype"), url("/assets/fonts/webfonts/prelo-book-webfont.svg#Prelo") format("svg"); }

@font-face {
  font-family: "Prelo";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/webfonts/prelo-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/prelo-medium-webfont.woff2") format("woff2"), url("/assets/fonts/webfonts/prelo-medium-webfont.woff") format("woff"), url("/assets/fonts/webfonts/prelo-medium-webfont.ttf") format("truetype"), url("/assets/fonts/webfonts/prelo-medium-webfont.svg#Prelo") format("svg"); }

@font-face {
  font-family: "Prelo";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/webfonts/prelo-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/prelo-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/webfonts/prelo-semibold-webfont.woff") format("woff"), url("/assets/fonts/webfonts/prelo-semibold-webfont.ttf") format("truetype"), url("/assets/fonts/webfonts/prelo-semibold-webfont.svg#Prelo") format("svg"); }

@font-face {
  font-family: "Prelo";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/webfonts/prelo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/prelo-bold-webfont.woff2") format("woff2"), url("/assets/fonts/webfonts/prelo-bold-webfont.woff") format("woff"), url("/assets/fonts/webfonts/prelo-bold-webfont.ttf") format("truetype"), url("/assets/fonts/webfonts/prelo-bold-webfont.svg#Prelo") format("svg"); }

@font-face {
  font-family: "Prelo";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/webfonts/prelo-black-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/prelo-black-webfont.woff2") format("woff2"), url("/assets/fonts/webfonts/prelo-black-webfont.woff") format("woff"), url("/assets/fonts/webfonts/prelo-black-webfont.ttf") format("truetype"), url("/assets/fonts/webfonts/prelo-black-webfont.svg#Prelo") format("svg"); }

/* Icomoon */
@font-face {
  font-family: "cdw-icons-global";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/webfonts/cdw-icons-global.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/webfonts/cdw-icons-global.woff2") format("woff2"), url("/assets/fonts/webfonts/cdw-icons-global.woff") format("woff"), url("/assets/fonts/webfonts/cdw-icons-global.ttf") format("truetype"), url("/assets/fonts/webfonts/cdw-icons-global.svg#cdw-icons-global") format("svg"); }

/* Legacy 
@include include-font('Prelo-Black', 'prelo-black-webfont');
@include include-font('Prelo-Bold', 'prelo-bold-webfont');
@include include-font('Prelo-SemiBold', 'prelo-semibold-webfont');
@include include-font('Prelo-Book', 'prelo-book-webfont');
@include font-face("Prelo-Medium", "/assets/fonts/webfonts/prelo-medium-webfont", normal);
@include include-font('Prelo-Light', 'prelo-light-webfont');*/
/* Prelo Slab ?Legacy? */
@font-face {
  font-family: 'PreloSlab-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_0_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_0_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_0_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_1_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_1_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_1_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_3_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_3_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_3_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_4_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_4_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_4_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-Light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_5_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_5_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_5_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_6_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_6_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_6_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-Black';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_7_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_7_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_7_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-Book';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_8_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_8_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_8_0.ttf') format('truetype'); }

@font-face {
  font-family: 'PreloSlab-Hairline';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/webfonts/2A559B_9_0.eot');
  src: url('/assets/fonts/webfonts/2A559B_9_0.eot?') format('eot'), url('/assets/fonts/webfonts/2A559B_9_0.ttf') format('truetype'); }

.icon {
  font-family: 'cdw-icons-global';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon.icon-cdw:before {
    content: "a"; }

/* Base Elements */
body {
  margin: 0;
  padding: 0;
  font-family: "Prelo", verdana, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #616265; }

input {
  color: #616265; }

a {
  color: #0070bc;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  line-height: 1px;
  background-color: #ccc; }

/* Disclaimer */
.disclaimer {
  font-size: 12px; }

/* Header Tags */
h1 span, h2 span, h3 span, h4 span {
  /* Red Bar Highlight */ }
  h1 span.-highlight, h2 span.-highlight, h3 span.-highlight, h4 span.-highlight {
    padding: 0 5px;
    text-transform: uppercase;
    background-color: #cc0000;
    color: white;
    font-weight: 900; }

h1 {
  margin: 0 0 15px;
  font-size: 54px;
  line-height: 56px;
  font-weight: 900;
  text-transform: uppercase; }

h2 {
  margin: 0 0 15px;
  font-size: 50px;
  line-height: 52px;
  font-weight: 800;
  text-transform: uppercase; }

h3 {
  margin: 0 0 12px;
  font-size: 40px;
  line-height: 42px;
  font-weight: bold; }

h4 {
  margin: 0 0 10px;
  font-size: 32px;
  line-height: 34px;
  font-weight: bold; }

h5 {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold; }

h6 {
  margin: 0 0 2px;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal; }

p {
  font-size: 14px;
  line-height: 16px; }

/* Tables */
table tr:nth-child(even) {
  background-color: #efefef; }
table tr td {
  padding: 5px 30px; }

/* Colors */
.red {
  color: #cc0000; }

/* Helpers */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.hide {
  display: none; }

.center {
  text-align: center; }

/* Buttons */
.button, .blueButton, .redButton, .yellowButton, .whiteButton, .disabledButton {
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  /* Color Variations */
  /*&.-border { border: 2px solid $color-white; 
        &.-white { border-color: #616265; 
            &:hover { border-color: $color-white;  }
        }

    }*/ }
  @media screen and (max-width: 580px) {
    .button, .blueButton, .redButton, .yellowButton, .whiteButton, .disabledButton {
      display: block;
      width: 100%;
      text-align: center;
      box-sizing: border-box; } }
  .button:active, .blueButton:active, .redButton:active, .yellowButton:active, .whiteButton:active, .disabledButton:active, .button:link, .blueButton:link, .redButton:link, .yellowButton:link, .whiteButton:link, .disabledButton:link, .button:visited, .blueButton:visited, .redButton:visited, .yellowButton:visited, .whiteButton:visited, .disabledButton:visited {
    color: #fff; }
  .button:hover, .blueButton:hover, .redButton:hover, .yellowButton:hover, .whiteButton:hover, .disabledButton:hover {
    text-decoration: none; }
  .button.-blue, .blueButton, .-blue.redButton, .-blue.yellowButton, .-blue.whiteButton, .-blue.disabledButton {
    background: #527fa5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #527fa5), color-stop(100%, #42739c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #527fa5 0%, #42739c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #527fa5 0%, #42739c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527fa5', endColorstr='#42739c',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #3a678d; }
    .button.-blue:hover, .blueButton:hover, .-blue.redButton:hover, .-blue.yellowButton:hover, .-blue.whiteButton:hover, .-blue.disabledButton:hover {
      background: #5f93bf;
      /* Old browsers */
      background: -moz-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f93bf), color-stop(100%, #4d85b5));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #5f93bf 0%, #4d85b5 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #5f93bf 0%, #4d85b5 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f93bf', endColorstr='#4d85b5',GradientType=0 );
      /* IE6-9 */ }
  .button.-red, .-red.blueButton, .redButton, .-red.yellowButton, .-red.whiteButton, .-red.disabledButton {
    background-color: #cc0000; }
    .button.-red:hover, .-red.blueButton:hover, .redButton:hover, .-red.yellowButton:hover, .-red.whiteButton:hover, .-red.disabledButton:hover {
      background-color: red; }
    .button.-red.-border, .-red.-border.blueButton, .-border.redButton, .-red.-border.yellowButton, .-red.-border.whiteButton, .-red.-border.disabledButton {
      border: 1px solid #cc0000;
      color: #cc0000;
      background: #fff; }
  .button.-gray, .-gray.blueButton, .-gray.redButton, .-gray.yellowButton, .-gray.whiteButton, .-gray.disabledButton {
    background-color: #616265; }
    .button.-gray:hover, .-gray.blueButton:hover, .-gray.redButton:hover, .-gray.yellowButton:hover, .-gray.whiteButton:hover, .-gray.disabledButton:hover {
      background-color: #7a7b7f; }
    .button.-gray.-border, .-gray.-border.blueButton, .-gray.-border.redButton, .-gray.-border.yellowButton, .-gray.-border.whiteButton, .-gray.-border.disabledButton {
      border: 1px solid #616265;
      color: #616265;
      background: #fff; }
  .button.-green, .-green.blueButton, .-green.redButton, .-green.yellowButton, .-green.whiteButton, .-green.disabledButton {
    background-color: #6fb600; }
    .button.-green:hover, .-green.blueButton:hover, .-green.redButton:hover, .-green.yellowButton:hover, .-green.whiteButton:hover, .-green.disabledButton:hover {
      background-color: #7ecb00; }
  .button.-orange, .-orange.blueButton, .-orange.redButton, .yellowButton, .-orange.whiteButton, .-orange.disabledButton {
    background: #ffa245;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa245), color-stop(100%, #ff9933));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa245 0%, #ff9933 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffa245 0%, #ff9933 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa245', endColorstr='#ff9933',GradientType=0 );
    /* IE6-9 */
    border: 1px solid #dd7f21; }
    .button.-orange:hover, .-orange.blueButton:hover, .-orange.redButton:hover, .yellowButton:hover, .-orange.whiteButton:hover, .-orange.disabledButton:hover {
      background: #ffba4f;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffba4f), color-stop(100%, #ff9933));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffba4f 0%, #ff9933 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ffba4f 0%, #ff9933 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba4f', endColorstr='#ff9933',GradientType=0 );
      /* IE6-9 */ }
  .button.-white, .-white.blueButton, .-white.redButton, .-white.yellowButton, .whiteButton, .-white.disabledButton {
    border: 1px solid #616265;
    color: #616265; }
    .button.-white:hover, .-white.blueButton:hover, .-white.redButton:hover, .-white.yellowButton:hover, .whiteButton:hover, .-white.disabledButton:hover {
      background-color: #f7f7f7; }
  .button.-clear, .-clear.blueButton, .-clear.redButton, .-clear.yellowButton, .-clear.whiteButton, .-clear.disabledButton {
    background-color: none;
    border: 1px solid #fff; }
    .button.-clear:hover, .-clear.blueButton:hover, .-clear.redButton:hover, .-clear.yellowButton:hover, .-clear.whiteButton:hover, .-clear.disabledButton:hover {
      color: #fff;
      background: rgba(255, 255, 255, 0.1); }
  .button.-disabled, .-disabled.blueButton, .-disabled.redButton, .-disabled.yellowButton, .-disabled.whiteButton, .disabledButton {
    opacity: .5;
    cursor: not-allowed; }
  .button.-shadow, .-shadow.blueButton, .-shadow.redButton, .-shadow.yellowButton, .-shadow.whiteButton, .-shadow.disabledButton {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24); }
  .button.-rounded, .-rounded.blueButton, .-rounded.redButton, .-rounded.yellowButton, .-rounded.whiteButton, .-rounded.disabledButton {
    border-radius: 5px; }
  .button.-large, .-large.blueButton, .blueButton.bigButton, .-large.redButton, .redButton.bigButton, .-large.yellowButton, .yellowButton.bigButton, .-large.whiteButton, .whiteButton.bigButton, .-large.disabledButton, .disabledButton.bigButton, .button.bigButton {
    padding: 6px 18px;
    font-size: 15px; }

/* Support Legacy */
/* Let's remove legacy support soon please! */
.form-fields {
  background-color: #efefef;
  /* Horizontal */ }
  .form-fields label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px; }
    .form-fields label span {
      font-weight: normal; }
  .form-fields .form-group {
    margin-bottom: 15px; }
    .form-fields .form-group input, .form-fields .form-group textarea {
      margin-bottom: 3px;
      padding: 4px;
      width: 100%;
      border: 1px solid #ccc;
      box-sizing: border-box; }
  .form-fields input[type="submit"], .form-fields input[type=button], .form-fields button {
    border: none;
    border: inherit; }
  .form-fields .note {
    color: #aaa;
    text-align: right; }
  .form-fields.-horizontal .form-group::after {
    clear: both;
    content: "";
    display: table; }
  .form-fields.-horizontal .form-group label {
    margin-right: 4%;
    width: 35%;
    line-height: 32px;
    float: left;
    text-align: right; }
  .form-fields.-horizontal .form-group input, .form-fields.-horizontal .form-group textarea {
    width: 60%;
    float: left;
    box-sizing: border-box; }

.featured-item {
  padding: 25px 0 25px;
  border-bottom: 2px solid #ddd;
  /*img { margin: 0 auto; display: block; }*/ }
  .featured-item::after {
    clear: both;
    content: "";
    display: table; }
  .featured-item:last-child {
    border: none; }
  .featured-item img {
    margin: 0 15px 0 0;
    float: left; }
  .featured-item a {
    text-decoration: none; }
  .featured-item h4, .featured-item p, .featured-item .button-lockup {
    overflow: hidden; }
  .featured-item .copy {
    overflow: hidden; }
    .featured-item .copy h6 {
      font-weight: bold; }
    .featured-item .copy p {
      margin: 0 0 15px;
      font-size: 14px;
      line-height: 16px; }
  .featured-item .button-lockup::after {
    clear: both;
    content: "";
    display: table; }
  .featured-item .button-lockup .pricing-block {
    margin-right: 10px;
    float: left; }
    .featured-item .button-lockup .pricing-block b, .featured-item .button-lockup .pricing-block strong {
      font-size: 20px;
      line-height: 22px; }
    .featured-item .button-lockup .pricing-block p {
      margin: 0; }
  .featured-item .button-lockup .button, .featured-item .button-lockup .blueButton, .featured-item .button-lockup .redButton, .featured-item .button-lockup .yellowButton, .featured-item .button-lockup .whiteButton, .featured-item .button-lockup .disabledButton {
    float: left; }
  .featured-item.-right::after {
    clear: both;
    content: "";
    display: table; }
  .featured-item.-right img {
    margin: 0 0 0 15px;
    float: right; }

@media screen and (max-width: 580px) {
  .featured-item img {
    margin: 0 auto;
    display: block;
    float: none; }
  .featured-item.-right::after {
    clear: both;
    content: "";
    display: table; }
  .featured-item.-right img {
    margin: 0 auto;
    float: none; } }

.media {
  margin-bottom: 60px; }
  .media .caption {
    padding: 12px;
    color: #fff;
    background-color: #00a8e2; }
    .media .caption p {
      margin: 0; }
  .media .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    /* Variations */ }
    .media .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .media .video-wrapper.-controls {
      padding-top: 25px; }

.notification-bar {
  margin: 15px 0 25px;
  padding: 10px 70px 10px 10px;
  border-style: solid;
  border-width: 1px;
  font-family: 'Prelo';
  font-size: 16px;
  line-height: 20px;
  /* Styles */
  /* Size */ }
  .notification-bar::after {
    clear: both;
    content: "";
    display: table; }
  .notification-bar [class^="ico-"], .notification-bar [class*=" ico-"] {
    margin-right: 10px;
    font-size: 42px;
    line-height: 42px;
    float: left; }
  .notification-bar p {
    margin: 0; }
  .notification-bar.-error {
    background-color: #f7dbe0;
    border-color: #cc0000; }
    .notification-bar.-error [class^="ico-"], .notification-bar.-error [class*=" ico-"] {
      color: #d15454; }
  .notification-bar.-warning {
    background-color: #f6e6c2;
    border-color: #f5b324; }
    .notification-bar.-warning [class^="ico-"], .notification-bar.-warning [class*=" ico-"] {
      color: #f5c355; }
  .notification-bar.-info {
    background-color: #c9e5ef;
    border-color: #0070bc; }
    .notification-bar.-info [class^="ico-"], .notification-bar.-info [class*=" ico-"] {
      color: #3294b6; }
  .notification-bar.-success {
    background-color: #dfeecc;
    border-color: #76bd22; }
    .notification-bar.-success [class^="ico-"], .notification-bar.-success [class*=" ico-"] {
      color: #92c556; }
  .notification-bar.-small {
    padding: 10px;
    font-size: 13px;
    display: inline-block; }
    .notification-bar.-small [class^="ico-"], .notification-bar.-small [class*=" ico-"] {
      font-size: 20px;
      line-height: 20px; }
  .notification-bar.-medium {
    padding: 10px;
    font-size: 14px;
    line-height: 32px;
    display: inline-block; }
    .notification-bar.-medium [class^="ico-"], .notification-bar.-medium [class*=" ico-"] {
      font-size: 32px;
      line-height: 32px; }

.social-icons {
  margin: 4px 0;
  padding: 0;
  list-style: none;
  font-family: 'cdw-icons-global';
  font-size: 18px;
  line-height: 20px;
  /* Circle Default */
  /* Versions */ }
  .social-icons::after {
    clear: both;
    content: "";
    display: table; }
  .social-icons li {
    margin-right: 5px;
    text-align: center;
    float: left; }
  .social-icons li:last-child {
    margin-right: 0; }
  .social-icons a {
    text-decoration: none; }
  .social-icons span {
    min-width: 20px;
    min-height: 20px;
    display: block; }
  .social-icons .ico-twitter {
    color: #5eb5e3;
    border: 1px solid #5eb5e3; }
  .social-icons .ico-twitter:hover {
    color: #89c9eb;
    border-color: #89c9eb; }
  .social-icons .ico-linkedin {
    color: #3158a9;
    border: 1px solid #3158a9; }
  .social-icons .ico-linkedin:hover {
    color: #446fc9;
    border-color: #446fc9; }
  .social-icons .ico-facebook {
    color: #0975a3;
    border: 1px solid #0975a3; }
  .social-icons .ico-facebook:hover {
    color: #0c98d3;
    border-color: #0c98d3; }
  .social-icons .ico-spiceworks {
    color: #fc5900;
    border: 1px solid #fc5900; }
  .social-icons .ico-spiceworks:hover {
    color: #ff7930;
    border-color: #ff7930; }
  .social-icons:not(.-square) span {
    min-width: 20px;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  .social-icons.-square span {
    min-width: 20px;
    display: block; }
  .social-icons.-square .icon {
    border: none; }
  .social-icons.-square .ico-twitter {
    background-color: #5eb5e3;
    color: #fff; }
  .social-icons.-square .ico-twitter:hover {
    background-color: #89c9eb; }
  .social-icons.-square .ico-linkedin {
    background-color: #3158a9;
    color: #fff; }
  .social-icons.-square .ico-linkedin:hover {
    background-color: #446fc9; }
  .social-icons.-square .ico-facebook {
    background-color: #0975a3;
    color: #fff; }
  .social-icons.-square .ico-facebook:hover {
    background-color: #0c98d3; }
  .social-icons.-square .ico-spiceworks {
    background-color: #fc5900;
    color: #fff; }
  .social-icons.-square .ico-spiceworks:hover {
    background-color: #ff7930; }
  .social-icons.-small {
    font-size: 16px;
    line-height: 18px; }
    .social-icons.-small:not(.-square) span {
      min-width: 18px;
      min-height: 18px;
      display: block;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      -ms-border-radius: 9px;
      border-radius: 9px; }

[class^="icon-"], [class*=" icon-"] {
  line-height: inherit; }

.hero {
  background-image: url(../images/hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* should use button class */
  min-height: 320px;
  margin-bottom: 20px;
  color: white; }
  .hero .btn {
    font-weight: bold;
    font-size: 18px; }
  .hero.-partner-logo {
    background-image: none;
    color: #4d4e53; }
    .hero.-partner-logo .product-hold {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .hero.-partner-logo .product-hold:last-child {
        margin-right: 0; }
  .hero .row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; }
    .hero .row::after {
      clear: both;
      content: "";
      display: table; }
    .hero .row .copy {
      padding-top: 30px;
      padding-left: 4.27%; }
      .hero .row .copy p {
        line-height: 22px; }

.lead-gen-hero {
  background-image: url(../images/lead-gen2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 320px;
  margin-bottom: 20px;
  color: white; }
  .lead-gen-hero .copy {
    padding-top: 30px; }
    .lead-gen-hero .copy h1 {
      text-transform: none; }
    .lead-gen-hero .copy p {
      line-height: 22px; }
  @media screen and (min-width: 970px) {
    .lead-gen-hero .copy {
      padding: 90px 4% 0;
      width: 46%; } }

.layout-extended {
  padding-bottom: 40px; }
  .layout-extended .hero-full {
    background-image: url(../images/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 320px; }
    .layout-extended .hero-full img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-left: 8.5298%;
      margin-top: 200px; }
      .layout-extended .hero-full img:last-child {
        margin-right: 0; }
  .layout-extended .container .copy h1 {
    color: #cc0000; }

.partner-lockup {
  float: right; }
  .partner-lockup .logo {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #bdbdbd;
    display: inline-block; }
  .partner-lockup .logo:last-child {
    margin-left: 0;
    padding-left: 0;
    border: none; }

/* Layouts */
.layout-full {
  padding-top: 20px;
  background-color: #333; }

.layout-extended {
  max-width: 1400px;
  position: relative;
  margin: 0 auto; }

@media screen and (min-width: 970px) {
  .layout {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto; }
    .layout::after {
      clear: both;
      content: "";
      display: table; }
    .layout .layout-12 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .layout .layout-12:last-child {
        margin-right: 0; }
    .layout .layout-11 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%; }
      .layout .layout-11:last-child {
        margin-right: 0; }
    .layout .layout-10 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .layout .layout-10:last-child {
        margin-right: 0; }
    .layout .layout-9 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .layout .layout-9:last-child {
        margin-right: 0; }
    .layout .layout-8 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .layout .layout-8:last-child {
        margin-right: 0; }
    .layout .layout-7 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .layout .layout-7:last-child {
        margin-right: 0; }
    .layout .layout-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .layout .layout-6:last-child {
        margin-right: 0; }
    .layout .layout-5 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .layout .layout-5:last-child {
        margin-right: 0; }
    .layout .layout-4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .layout .layout-4:last-child {
        margin-right: 0; }
    .layout .layout-3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .layout .layout-3:last-child {
        margin-right: 0; }
    .layout .layout-2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .layout .layout-2:last-child {
        margin-right: 0; }
    .layout .layout-1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .layout .layout-1:last-child {
        margin-right: 0; } }

@media screen and (max-width: 1185px) {
  .layout {
    padding: 0 10px;
    max-width: 1150px; } }

/* Structure */
.container {
  margin: 0 auto;
  max-width: 1170px;
  position: relative; }
