<!--/* CDW Featured Content Component */ -->
<div class="featured-item ${properties.alignment} ${(properties.alignment=='-top'||properties.alignment=='-bottom')?'-center':''}">

    <div class="layout-12" data-sly-test="${properties.alignment=='-top'&&(properties.fileReference||currentNode.properties['./image/fileReference'])}">
        <div class="image-lockup">
            <div data-sly-include="featuredcontent-img.html" data-sly-unwrap></div>
            <!--/* /data-sly-unwrap */-->
        </div>
    </div>

    <div class="layout-12" data-sly-test="${(properties.alignment=='-top'||properties.alignment=='-bottom')}">
        <div data-sly-include="featuredcontent-copy.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>


    <div class="layout-12" data-sly-test="${properties.alignment=='-bottom'&&(properties.fileReference||currentNode.properties['./image/fileReference'])}">
        <div class="image-lockup">
            <div data-sly-include="featuredcontent-img.html" data-sly-unwrap></div>
        </div>
        <!--/* /data-sly-unwrap */-->
    </div>

    <div class="layout-4" data-sly-test="${(properties.alignment=='-left'||properties.alignment=='-right')}">
        <div data-sly-include="featuredcontent-img.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>
    <div class="layout-8" data-sly-test="${(properties.alignment=='-left'||properties.alignment=='-right')}">
        <div data-sly-include="featuredcontent-copy.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>

</div>