<!--/* CDW Featured Content Component */ -->
<div class="featured-item ${properties.alignment}">

    <div class="layout-12" data-sly-test="${properties.alignment=='-top'}">
        <div data-sly-test="${!(properties.imagesrc=='icomoon')}" class="image-lockup   ${properties.imageAlignment}">
            <div data-sly-include="featuredcontent-img.html" data-sly-unwrap></div>
            <!--/* /data-sly-unwrap */-->
        </div>
          <div data-sly-test="${(properties.imagesrc=='icomoon')}">
            <div data-sly-include="featuredcontent-icomoon.html" data-sly-unwrap></div>
            <!--/* /data-sly-unwrap */-->
        </div>

    </div>

    <div class="layout-12" data-sly-test="${(properties.alignment=='-top'||properties.alignment=='-bottom')}">
        <div data-sly-include="featuredcontent-copy.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>

    <div class="layout-12" data-sly-test="${properties.alignment=='-bottom'}">
        <div  data-sly-test="${!(properties.imagesrc=='icomoon')}"  class="image-lockup ${properties.imageAlignment}">
            <div data-sly-include="featuredcontent-img.html" data-sly-unwrap></div>
        </div>
          <div data-sly-test="${(properties.imagesrc=='icomoon')}" >
            <div data-sly-include="featuredcontent-icomoon.html" data-sly-unwrap></div>
            <!--/* /data-sly-unwrap */-->
        </div>

        <!--/* /data-sly-unwrap */-->
    </div>




    <div class="layout-4" data-sly-test="${(properties.alignment=='-left'||properties.alignment=='-right')&&!(properties.imagesrc=='icomoon')}">
        <div data-sly-include="featuredcontent-img.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>
    <div class="layout-8" data-sly-test="${(properties.alignment=='-left'||properties.alignment=='-right')&&!(properties.imagesrc=='icomoon')}">
        <div data-sly-include="featuredcontent-copy.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>


        <div class="layout-1" data-sly-test="${(properties.alignment=='-left')&&(properties.imagesrc=='icomoon')}">
        <div data-sly-include="featuredcontent-icomoon.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>
    <div class="layout-11" data-sly-test="${(properties.alignment=='-left'||properties.alignment=='-right')&&(properties.imagesrc=='icomoon')}">
        <div data-sly-include="featuredcontent-copy.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>
<div class="layout-1" data-sly-test="${(properties.alignment=='-right')&&(properties.imagesrc=='icomoon')}">
        <div data-sly-include="featuredcontent-icomoon.html" data-sly-unwrap></div>
        <!--/* /data-sly-unwrap */-->
    </div>

</div>