<div class="copy ${properties.textAlignment}">
    <h5 data-sly-test="${properties.headline && !properties.redbarhighlight}"
        style="color:#${properties.textcolor @ context='styleString'}">

        <a data-sly-test.header="${properties.headLineTextLink&&(properties.eventData||properties.eventTitle)}"
           data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.headLineTextLink}"
           data-sly-use.eventTagging="${'com.cdw.aem.components.EnsightenTaggingWCMUseHelper' @elementType='H'}"
           href="${link.urlUpdate}"
           title="${properties.linkTitle}"
           target="${properties.headLineTextTarget}"
           onclick="${eventTagging.taggingEvent @context='html'}"
        >${properties.headline}</a>
        <a data-sly-test.header="${properties.headLineTextLink&&!(properties.eventData||properties.eventTitle)}"
           data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.headLineTextLink}"
           href="${link.urlUpdate}"
           title="${properties.linkTitle}"
           target="${properties.headLineTextTarget}">${properties.headline}</a>

        <p data-sly-test="${!properties.headLineTextLink}" data-sly-unwrap>
            ${properties.headline}</p>
    </h5>
    <h5 data-sly-test="${properties.headline && properties.redbarhighlight=='true'}">
        <span class="-highlight">${properties.headline}</span>
    </h5>

    <p data-sly-test="${properties.bodytext}" data-sly-unwrap>
        ${properties.bodytext@context="html"}
    </p>

    <div class="button-lockup ${properties.ctaAlignment}"
         data-sly-use.secondaryLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.secondaryLinks}"
         data-sly-test="${properties.secondaryLinks&&secondaryLinks.count==1}">

        <a href="#"
           data-sly-test.event="${(properties.eventData|| properties.eventTitle)&&(secondaryLinks.linkDetails[0].ctatarget=='_model')}"
           title="${properties.linkTitle}"
           onclick="cdwModal.open('${secondaryLinks.linkDetails[0].ctalink @context='html'}', '${secondaryLinks.eventType @context='html'}', '${secondaryLinks.linkDetails[0].modelTaggingParam @context='html'}');"
           class="btn button ${properties.ctabuttonstyle}">${secondaryLinks.linkDetails[0].ctalabel} </a>

        <a href="${secondaryLinks.linkDetails[0].ctalink}"
           data-sly-test.event="${(properties.eventData|| properties.eventTitle)&&(secondaryLinks.linkDetails[0].ctatarget!='_model')}"
           target="${secondaryLinks.linkDetails[0].ctatarget}"
           title="${properties.linkTitle}"
           onclick="${secondaryLinks.linkDetails[0].eventDetails @context='html'}"
           class="btn button ${properties.ctabuttonstyle}">${secondaryLinks.linkDetails[0].ctalabel} </a>
        <a href="${secondaryLinks.linkDetails[0].ctalink}"
           data-sly-test.event="${!(properties.eventData|| properties.eventTitle)}"
           title="${properties.linkTitle}"
           target="${secondaryLinks.linkDetails[0].ctatarget}"
           class="btn button ${properties.ctabuttonstyle}">${secondaryLinks.linkDetails[0].ctalabel} </a>

    </div>

    <div class="button-lockup  ${properties.ctaAlignment}" data-sly-test="${secondaryLinks.count>1}">
        <select class="sub-cat-select partner-links" data-secondary-label="${properties.secondaryLabel}"
                data-sly-use.secondaryLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.secondaryLinks,elementType='link-secondary'}">

            <option></option>
            <sly data-sly-test="${(properties.eventData|| properties.eventTitle)}"
                 data-sly-list="${secondaryLinks.linkDetails}">
                <option data-sly-test="${item.ctatarget=='_model'}" value="${item.ctalabel}"
                        data-target="${item.ctatarget}" data-link="${item.ctalink}"
                        data-eventType="${secondaryLinks.eventType @context='html'}"
                        data-modelTaggingData="${item.modelTaggingParam @context='html'}">
                    ${item.ctalabel}
                </option>
                <option data-sly-test="${item.ctatarget!='_model'}" value="${item.ctalabel}"
                        data-target="${item.ctatarget}" data-link="${item.ctalink}"
                        data-change="${item.eventDetails @context='html'}">
                    ${item.ctalabel}
                </option>
            </sly>

            <sly data-sly-test="${!(properties.eventData|| properties.eventTitle)}"
                 data-sly-list="${secondaryLinks.linkDetails}">
                <option value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}">
                    ${item.ctalabel}
                </option>
            </sly>
        </select>

        <select class="sub-cat-select-mobile partner-links" data-secondary-label="${properties.secondaryLabel}"
                data-sly-use.secondaryLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.secondaryLinks,elementType='link-secondary'}">
            <option>${properties.secondaryLabel}</option>
            <!--closing option-->

            <sly data-sly-test="${(properties.eventData|| properties.eventTitle)}"
                 data-sly-list="${secondaryLinks.linkDetails}">
                <option data-sly-test="${item.ctatarget=='_model'}" value="${item.ctalabel}"
                        data-target="${item.ctatarget}" data-link="${item.ctalink}"
                        data-eventType="${secondaryLinks.eventType @context='html'}"
                        data-modelTaggingData="${item.modelTaggingParam @context='html'}">
                    ${item.ctalabel}
                </option>
                <option data-sly-test="${item.ctatarget!='_model'}" value="${item.ctalabel}"
                        data-target="${item.ctatarget}" data-link="${item.ctalink}"
                        data-change="${item.eventDetails @context='html'}">
                    ${item.ctalabel}
                </option>
            </sly>
            <sly data-sly-test="${!(properties.eventData|| properties.eventTitle)}"
                 data-sly-list="${secondaryLinks.linkDetails}">
                <option value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}">
                    ${item.ctalabel}
                </option>
            </sly>
        </select>
    </div>
</div>