<div class="copy">
    <h5 data-sly-test="${properties.headline && !properties.redbarhighlight}"
        style="color:#${properties.textcolor @ context='styleString'}">

        <a data-sly-test="${properties.headLineTextLink}"
           data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.headLineTextLink}"
           href="${link.urlUpdate}" target="${properties.headLineTextTarget}">${properties.headline}</a>

        <p data-sly-test="${!properties.headLineTextLink}" data-sly-unwrap>
            ${properties.headline}</p>
    </h5>
    <h5 data-sly-test="${properties.headline && properties.redbarhighlight=='true'}">
        <span class="-highlight">${properties.headline}</span>
    </h5>

    <p data-sly-test="${properties.bodytext}" data-sly-unwrap>
        ${properties.bodytext@context="html"}
    </p>

    <div class="button-lockup"
         data-sly-use.secondaryLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.secondaryLinks}"
         data-sly-test="${properties.secondaryLinks&&secondaryLinks.count==1}">
        <a href="${secondaryLinks.subCategoryProductLinks[0].ctalink}"
           target="${secondaryLinks.subCategoryProductLinks[0].ctatarget}"
           class="btn button ${properties.ctabuttonstyle}">${secondaryLinks.subCategoryProductLinks[0].ctalabel} </a>
    </div>

    <div class="button-lockup" data-sly-test="${secondaryLinks.count>1}">
        <select class="sub-cat-select partner-links" data-secondary-label="${properties.secondaryLabel}"
                data-sly-use.secondaryLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.secondaryLinks}"
                >
            <option></option>
            <sly data-sly-list="${secondaryLinks.subCategoryProductLinks}">
                <option value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}">
                    ${item.ctalabel}
                </option>
            </sly>
        </select>
        <select class="sub-cat-select-mobile partner-links" data-secondary-label="${properties.secondaryLabel}"
                data-sly-use.secondaryLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.secondaryLinks}">
            <option>${properties.secondaryLabel}</option>
            <!--closing option-->
            <sly data-sly-list="${secondaryLinks.subCategoryProductLinks}">
                <option value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}">
                    ${item.ctalabel}
                </option>
            </sly>
        </select>
    </div>
</div>