<!-- Enhanced CDW Button with single/multi link options -->

 <div class="cdw-multi-button">
	<div class="button-lockup ${properties.alignment}"
         data-sly-use.ctaLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.ctaLinks,elementType='cta'}"
         data-sly-test="${properties.ctaLinks&&ctaLinks.count==1}">
         <a href="${ctaLinks.linkDetails[0].ctalink}"
            data-sly-test="${(properties.eventData|| properties.eventTitle)}"
            title="${properties.linkTitle}"
           target="${ctaLinks.linkDetails[0].ctatarget}"
            onclick="${ctaLinks.linkDetails[0].eventDetails @context='html'}"
           class="button ${properties.buttonStyle}">${ctaLinks.linkDetails[0].ctalabel} </a>
        <a href="${ctaLinks.linkDetails[0].ctalink}"
           title="${properties.linkTitle}"
           data-sly-test="${!(properties.eventData|| properties.eventTitle)}"
           target="${ctaLinks.linkDetails[0].ctatarget}"
           class="button ${properties.buttonStyle}">${ctaLinks.linkDetails[0].ctalabel} </a>
	</div>

    <div class="button-lockup ${properties.alignment}" data-sly-test="${ctaLinks.count>1}">
        <select class="partner-links sub-cat-select ${properties.buttonStyle}" data-secondary-label="${properties.dropdownlabel}"
                data-sly-use.ctaLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.ctaLinks,elementType='links-secondary'}"
                >
			<option></option>
            <sly data-sly-list="${ctaLinks.linkDetails}"    data-sly-test="${(properties.eventData|| properties.eventTitle)}" >
            <option class="${properties.buttonStyle}" value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}" data-change="${item.eventDetails @context='html'}">
                ${item.ctalabel}
            </option>
        </sly>
            <sly data-sly-list="${ctaLinks.linkDetails}"    data-sly-test="${!(properties.eventData|| properties.eventTitle)}">
                <option class="${properties.buttonStyle}" value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}">
                    ${item.ctalabel}
                </option>
            </sly>
        </select>
        <select class="partner-links sub-cat-select-mobile" data-secondary-label="${properties.dropdownlabel}"
                data-sly-use.ctaLinks="${'com.cdw.aem.util.components.LinkListWCMUseHelper' @json=properties.ctaLinks,elementType='links-secondary'}">
            <option></option>
            <!--closing option-->
            <sly data-sly-list="${ctaLinks.linkDetails}"  data-sly-test="${(properties.eventData|| properties.eventTitle)}">
                <option value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}" data-change="${item.eventDetails @context='html'}">
                    ${item.ctalabel}
                </option>
            </sly>
            <!--closing option-->
            <sly data-sly-list="${ctaLinks.linkDetails}"  data-sly-test="${!(properties.eventData|| properties.eventTitle)}">
                <option value="${item.ctalabel}" data-target="${item.ctatarget}" data-link="${item.ctalink}">
                    ${item.ctalabel}
                </option>
            </sly>
        </select>
    </div>
    </div>
