
<div data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}"  data-sly-test="${properties.productEDC&&properties.products}">

    <div  data-sly-use.productpicker="${'com.cdw.aem.util.components.ProductPickerWCMUseHelper' @json=properties.products}"></div>
    <input type="hidden" class="productService" id="productService-${properties.productEDC[0]}" name="productService" value="${utility.serviceDomain}/${utility.productService}?f=${properties.productEDC}">
    <input type="hidden" class="productEDC" id="productEDC-${properties.productEDC[0]}" name="productEDC" value="${properties.productEDC}">
    <input type="hidden" class id="ctaButtonStyle-${properties.productEDC[0]}" name="ctaButtonStyle" value="${properties.ctaButtonStyle}">
    <input type="hidden" id="products-${properties.productEDC[0]}" class="products" name="products" value="${productpicker.updateProductPickerJson @context='scriptComment'}">
    <input type="hidden" id="imagePosition-${properties.productEDC[0]}" class="imagePosition" name="imagePosition" value="${properties.imagePosition}">

    <div id="productContainer-${properties.productEDC[0]}" class="productContainer" ></div>
    <div id="productError-${properties.productEDC[0]}" class="productError"  data-sly-test="${!wcmmode.disabled}" ></div>
</div>
<div  data-sly-test="${!properties.products&&!wcmmode.disabled}">
<h5>Please configure product picker id</h5>
</div>