<!--/* CDW Color CTA Text Block */ -->

<div class="content-container-item  ${properties.textalignment}"
	style="background-color:#${properties.backgroundcolor @ context='styleString'};">
	<h5 data-sly-test="${properties.headline}">${properties.headline}</h5>
	<p data-sly-test="${properties.bodytext}">${properties.bodytext}</p>
	<div class="button-lockup" data-sly-use.event="${'com.cdw.aem.components.TaggingWCMUseHelper' @elementType='CTA'}">
		<a
			data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.ctalink}"
			href="${link.urlUpdate}"
			data-sly-test="${(!(properties.eventTitle||properties.eventData))&&properties.ctalink}"
			target="${properties.ctatarget}"
			title="${properties.linkTitle}"
			class="button -clear">
			${properties.cdwctalabel}
		</a>
		<a
				data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.ctalink}"
				href="${link.urlUpdate}"
				title="${properties.linkTitle}"
				data-sly-test="${((properties.eventTitle||properties.eventData))&&properties.ctalink}"
				target="${(properties.eventTitle||properties.eventData)&&properties.ctatarget}"
				onclick="${event.taggingEvent @context='html'}"
				class="button -clear">
			${properties.cdwctalabel}
		</a>
	</div>
</div>










