<main id="content" role="main">
  <div class="container">
    <div data-sly-test="${!wcmmode.disabled}">
        <h1>Site Root Configurations</h1>
        <ul data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}">
            <li data-sly-test="${utility.siteRootPagePath}">Site Root Path: ${utility.siteRootPagePath}</li>
            <li>Site Domain: ${utility.siteDomainInheritedProperty}</li>
            <li>Scene7 CDW Partner Logo Treatment: ${utility.s7CDWPartnerLogoTreatmentInheritedProperty}</li>
            <li>Service Domain : ${utility.serviceDomain}</li>
            <li>Product Service: ${utility.productService}</li>
            <li>S7 Image Root  : ${utility.s7ImageRoot}</li>
            <li>Analytics JS Path : ${utility.analyticsJsPath}</li>
            <li>Voucher Code: ${utility.voucherCode}</li>
            <li>Disable Tagging : ${utility.disableTagging}</li>


        </ul>
    </div>
  </div>
</main>