<!--/* CDW Petite Header */ -->

<div
	data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}"
	class="container">
    <div data-sly-test="${properties.homepageurl}"data-sly-unwrap>
	<a data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.homepageurl}"
			href="${link.urlUpdate}"><img data-sly-test="${properties.fileReference}?$partnerLockup$" src="${properties.fileReference}?$partnerLockup$"
				alt="CDW Logo" class="logo"/>
	</a>
    </div>
    <img data-sly-test="${!properties.homepageurl&&properties.fileReference}" src="${properties.fileReference}"
				alt="CDW Logo" class="logo"/>
	<div class="nav-collapsed">
		<i class="ico-menu"></i>
	</div>
	<ul class="nav">
		<li data-sly-test="${properties.link1path}"><a
			data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.link1path}"
			href="${link.urlUpdate}">
				<div data-sly-test="${properties.link1label}" data-sly-unwrap>${properties.link1label}</div>
				<div data-sly-test="${!properties.link1label}" data-sly-unwrap>${link.getHeaderLinkLabel}</div>
		</a></li>
		<li data-sly-test="${properties.link2path}"><a
			data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.link2path}"
			href="${link.urlUpdate}">
				<div data-sly-test="${properties.link2label}" data-sly-unwrap>${properties.link2label}</div>
				<div data-sly-test="${!properties.link2label}" data-sly-unwrap>${link.getHeaderLinkLabel}</div>
		</a></li>
		<li data-sly-test="${properties.link3path}"><a
			data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.link3path}"
			href="${link.urlUpdate}">
				<div data-sly-test="${properties.link3label}" data-sly-unwrap>${properties.link3label}</div>
				<div data-sly-test="${!properties.link3label}" data-sly-unwrap>${link.getHeaderLinkLabel}</div>
		</a></li>
		<li data-sly-test="${properties.phoneno}"><a href="tel:+1${properties.phoneno}"
			data-sly-use.phoneno="${'com.cdw.aem.util.components.UtilityWCMUseHelper' @phoneno=properties.phoneno}">${phoneno.getFormatPhoneNumber}
		</a></li>
	</ul>
</div>






