<main id="content" role="main">
<div class="layout">
  <div class="layout-12">
  <div data-sly-resource="${ @path='herobanner', resourceType='cdw/components/content/cdwherobanner'}" data-sly-unwrap></div><!--/* /data-sly-unwrap */-->
  </div>
</div>
<div class="layout">
  <div class="layout-7">
  <div data-sly-resource="${ @path='leftpar', resourceType='foundation/components/parsys'}" data-sly-unwrap> </div><!--/* /data-sly-unwrap */-->
  </div>
  <div class="layout-5">
    <div class="form">
      <h4>FORM PLACEHOLDER</h4>
    </div>
  </div>
</div>
<div data-sly-resource="${ @path='mainpar', resourceType='foundation/components/parsys'}" data-sly-unwrap> </div><!--/* /data-sly-unwrap */-->
</main>