<!--/* CDW Partner Logo */ -->

<div class="layout">
	<div class="partner-lockup">
		<div class="logo">
<div data-sly-test="${properties.scene7filename}"
	 data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}"
	 data-sly-use.event="${'com.cdw.aem.components.TaggingWCMUseHelper' @elementType='img'}"data-sly-unwrap>
			<a data-sly-unwrap="${!properties.partnerlogourl}"
			   data-sly-test="${(!(properties.eventTitle||properties.eventData))}"
				data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.partnerlogourl}"
			   title="${properties.linkTitle}"
				href="${link.urlUpdate}"
			   target="${properties.target}">
				<img src="${utility.s7ImageRoot}${properties.scene7filename}?$partnerLockup$" alt="${properties.alt}" /></a>

				<a data-sly-unwrap="${!properties.partnerlogourl}"
				   data-sly-test="${(properties.eventTitle||properties.eventData)}"
				   title="${properties.linkTitle}"
				   data-sly-use.link="${'com.cdw.aem.util.components.LinkUtilWCMUseHelper' @url=properties.partnerlogourl}"
				   href="${link.urlUpdate}"
				   target="${properties.target}">
					<img src="${utility.s7ImageRoot}${properties.scene7filename}?$partnerLockup$" alt="${properties.alt}"
						 onclick="${event.taggingEvent @context='html'}" /></a>
		</div>
        </div>
		<div data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}" class="logo">
			<img data-sly-test="${utility.s7CDWPartnerLogoTreatmentInheritedProperty}"
				src="${utility.s7CDWPartnerLogoTreatmentInheritedProperty}?$partnerLockup$"
				alt="CDW Logo" />
		</div>
	</div>
</div>

