<sly data-sly-use.multiLayoutHelper="${'com.cdw.aem.components.MultiLayoutWCMUseHelper' @json=properties.sections}">
<div data-sly-test="${(!wcmmode.edit && !wcmmode.design)}" class="tabs-section ${properties.tabStyle}">
	<div class="tabs">
	
	</div>
</div>
<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
	<h1>Tab Behavior Disabled in Edit and Design mode - please configure your content below.</h1>
	<p>To preview tab behavior, switch to Preview mode and refresh browser.</p>
	<sly data-sly-list.section="${multiLayoutHelper.sections}">
		<h3>${section.sectionTitle}<h3>
		<div class="layout">
			<sly data-sly-list.subSection="${section.subSections}">
				<div class="${subSection.layoutClass}">
				  <sly data-sly-resource="${ @path=subSection.parsysPath, resourceType='foundation/components/parsys'}"></sly>
				</div>
			</sly>
		</div>
	</sly>
</sly>
</sly>