<sly data-sly-use.multiLayoutHelper="${'com.cdw.aem.components.MultiLayoutWCMUseHelper' @json=properties.sections}">
<div id="tabs" class="tabs-section ${properties.tabStyle}">
	<sly data-sly-test="${(!wcmmode.edit && !wcmmode.design)}">
		<ul data-sly-list.section="${multiLayoutHelper.sections}">
			<li data-sly-test="${sectionList.index == 0}"><a class="tab-look active" href="#tabs-${section.sectionId}">${section.sectionTitle}</a></li>
			<li data-sly-test="${sectionList.index > 0}"><a class="tab-look" href="#tabs-${section.sectionId}">${section.sectionTitle}</a></li>
		</ul>
		<sly data-sly-list.section="${multiLayoutHelper.sections}">
			<section id="tabs-${section.sectionId}">
				<div class="layout">
					<sly data-sly-list.subSection="${section.subSections}">
					<div class="${subSection.layoutClass}">
					<sly data-sly-resource="${ @path=subSection.parsysPath, resourceType='foundation/components/parsys'}"></sly>
					</div>
					</sly>
				</div>
			</section>
		</sly>
	</sly>
	<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
		<h6>Tab Behavior Disabled in Edit and Design mode - please configure your content using the component dialog and the paragraph systems below below.</h6>
		<p>To preview tab behavior, switch to Preview mode and refresh browser.</p>
		<sly data-sly-list.section="${multiLayoutHelper.sections}">
			<h3>${section.sectionTitle}<h3>
			<div class="layout">
				<sly data-sly-list.subSection="${section.subSections}">
				<div class="${subSection.layoutClass}">
				<sly data-sly-resource="${ @path=subSection.parsysPath, resourceType='foundation/components/parsys'}"></sly>
				</div>
				</sly>
			</div>
		</sly>
	</sly>
</div>
</sly>