<!--/* Hero Banner Image 
*/ -->
<head data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
	<clientlib data-sly-call="${clientLib.all @ categories=['cdw-global']}"
		data-sly-unwrap />
</head>

<div class="hero"
	style="background-image:url('${properties.backgroundimage @ context='styleString'}');text-align:${properties.textalignment @ context='styleString'};color:#${properties.textcolor @ context='styleString'}!important;background-color:#${properties.backgroundcolor @ context='styleString'}!important;">
	<div class="row">
		<div class="copy">
			<h1>
				${properties.headline1}
				<i data-sly-test="${properties.headline2}" class="ico-and">${properties.headline2}
				</i>
			</h1>
			<h4 data-sly-text="${properties.subheadline}" />
			<h6>
				${properties.bodytext}
				<p></p>
				<div data-sly-test="${properties.ctalink}" class="btn button -red">${properties.cdwctalabel}
				</div>
			</h6>

		</div>
	</div>
</div>







