<!--/* Hero Banner Image */ -->

<div class="hero align-${properties.textalignment}"
	style="background-image:url('${currentNode.path @ context='styleString'}.img.png');color:#${properties.textcolor @ context='styleString'};background-color:#${properties.backgroundcolor @ context='styleString'};">
	<div class="row">
		<div class="copy">
			<h1>
				${properties.headline1}
				<i data-sly-test="${properties.headline2}" class="ico-and"></i>
				${properties.headline2}</h1>

				<h4>
					<i data-sly-test="${properties.prefixsubheadline=='true'}" class="ico-and"></i>
					${properties.subheadline}
				</h4>
				<h6>
					${properties.bodytext}
					<p></p>

					<a data-sly-use.link="${'com.cdw.aem.api.LinkAPI' @url=properties.ctalink}"  href="${link.urlUpdate}" data-sly-test="${properties.ctalink}" class="btn button -red">${properties.cdwctalabel}

					</a>
				</h6>

		</div>
	</div>
</div>





