
<div data-sly-use.utility="${'com.cdw.aem.util.components.UtilityWCMUseHelper'}"></div>
<input type="hidden" id="productService" name="productService" value="${utility.serviceDomain}${utility.productService}?f=${properties.productEDC}">
<input type="hidden" id="productEDC" name="productEDC" value="${properties.productEDC}">
<input type="hidden" id="ctaStyle" name="ctaStyle" value="${properties.ctaStyle}">
<input type="hidden" id="products" name="products" value="${properties.products @context='scriptComment'}">
<input type="hidden" id="imagePosition" name="imagePosition" value="${properties.imagePosition}">
