<!-- Quote Form Details -->
<h3>{{Title}}</h3>
{{#each Items}}
    <p class="item"><b>{{Key}}:</b> {{Value}}</p>
{{/each}}
    
{{#if Price}}
    <div class="hr"></div>
    <p class="price-total"><b>Price:</b> {{Price}}</p>
{{/if}}
